/* bubble
---------------------------------- */
.dm-bubble {
    display: inline-block;
    box-sizing: border-box;
    min-width: 32px;
    background-color: $red;
    border-radius: 32px;
    color: $text-color-main;
    font-size: 20px;
    font-weight: $font-weight-base;
    line-height: 32px;
    text-align: center;
    padding: 0 6px;
    @include css3(transform, scale(.5));
    @include css3(transform-origin, (0 0));
}