@import "./arrow";

/* flexible
---------------------------------- */
.dm-flexible {
    @include hide;
    @extend %arrow-hollow-base;
    position: relative;
    color: $text-color-base;
    font-size: $font-size-base;
    line-height: 22px;
    text-align: center;

    &::after {
        display: inline-block;
        position: relative;
        top: -2px;
        right: 2px;
        vertical-align: middle;
        margin-left: 12px;
        @include css3(transform, rotate(90deg));
    }

    &.active {
        @include show;
    }

    &.toggle {
        &::after {
            @include css3(transform, rotate(-90deg));
        }
    }
}