/* gallery
---------------------------------- */
.dm-gallery {
    @include hide;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-highest;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 1);
    overflow: hidden;

    &.active {
        @include show;
    }

    &-slider {
        position: absolute;
        top: 48px;
        bottom: 48px;
        left: 0;
        width: 100%;

        &-list {
            @include flex;
            position: relative;
            z-index: $z-index-base;
            box-sizing: content-box;
            width: 0;
            height: 100%;
            @include css3(transform-style,(preserve-3d));
            @include css3(transition-property,transform);
        }

        &-item {
            @include flex;
            @include flex-item;
            @include flex-align(center);
            @include flex-justify(center);
            @include css3(flex-shrink,0);
            position: relative;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            overflow: hidden;
        }

        &-index {
            @include hide;
        }

        &-num {
            position: absolute;
            bottom: -28px;
            left: 0;
            z-index: $z-index-highest;
            width: 100%;
            color: $text-color-main;
            font-size: $font-size-base;
            line-height: 22px;
            text-align: center;

            i {
                font-style: normal;
            }
        }
    }

    &-item {
        @include show;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
}