/* holder
---------------------------------- */
.dm-holder {
    @include flex;
    @include flex-align(center);

    &-text {
        @include flex-item;
        display: block;
        line-height: 22px;
        padding-right: $gap-base;
    }

    &-switch {
        @include flex-item(0);
        display: block;
        position: relative;
        width: 42px;
        height: 24px;
        vertical-align: middle;
    }

    &-input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: $z-index-base;
        width: 100%;
        height: 100%;
        opacity: .001;
        -webkit-appearance: none;
    }

    &-modifier {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: $z-index-base;
        width: 42px;
        height: 24px;
        background-color: #e8e8e8;
        border-radius: 24px;
        @include css3(transition, all 0.5s ease);

        &::before {
            content: "";
            position: absolute;
            top: 1px;
            left: 1px;
            z-index: $z-index-base + 1;
            width: 40px;
            height: 22px;
            background-color: $bg-color-main;
            border-radius: 24px;
            @include css3(transition, all .5s ease);
        }

        &::after {
            content: "";
            position: absolute;
            top: 1px;
            left: 1px;
            z-index: $z-index-base + 2;
            width: 22px;
            height: 22px;
            background-color: $bg-color-main;
            border-radius: 24px;
            box-shadow: 0 0 3px 1px rgba(0, 0, 0, .1), 0 3px 3px 0 rgba(0, 0, 0, .1);
            cursor: pointer;
            @include css3(transition, all .5s ease);
        }
    }

    &-input:checked + &-modifier {
        background-color: $yellow;

        &::before {
            height: 0;
            width: 0;
            left: 50%;
            top: 50%;
        }

        &::after {
            left: 19px;
        }
    }
}