/* input
---------------------------------- */
.dm-input {
    display: block;
    overflow: hidden;

    &-text {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 22px;
        background-color: transparent;
        border: 0 none;
        color: $text-color-base;
        font-size: $font-size-base;
        line-height: normal;
        padding: 0;
        -webkit-appearance: none;

        &[readonly],
        &[disabled] {
            color: $text-color-disabled;
            pointer-events: none;
        }
    }
}
