/* mask
---------------------------------- */
.dm-mask {
    @include hide;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-higher;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .4);

    &.active {
        @include show;
    }
}