@import "./mask";

/* picker
---------------------------------- */
.dm-picker {
    @include hide;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $z-index-highest;
    width: 100%;
    background-color: $bg-color-main;
    @include css3(transform, translate3d(0, 100%, 0));
    @include css3(transition, all .5s ease-out);

    &.active {
        @include show;
        @include css3(transform, translate3d(0, 0, 0));
    }

    &-head {
        @include border(bottom);
        height: 44px;
        background-color: $white-smoke;
    }

    &-title {
        font-size: $font-size-large;
        font-weight: $font-weight-base;
        line-height: 44px;
        text-align: center;
        margin: 0 56px;
        @extend %text-overflow;
    }

    &-opt {
        position: absolute;
        top: 0;
        left: 0;
        height: 44px;
        background-color: transparent;
        border: 0 none;
        color: $text-color-base;
        font-size: 14px;
        line-height: 44px;
        padding: 0 $gap-base;

        &:last-child {
            left: auto;
            right: 0;
        }

        &.touch {
            border-radius: 0;
            background-color: $bg-color-touch;
            opacity: .6;
        }
    }

    &-body {
        @include flex;
    }

    &-group {
        @include flex-item;
        position: relative;
        width: 100%;
        height: 220px;
        overflow-x: hidden;
        overflow-y: auto;

        &.iscroll {
            overflow: hidden;
        }
    }

    &-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &-item {
        @include border(bottom);
        color: $text-color-assist;
        line-height: 20px;
        text-align: center;
        padding: $gap-base;
        overflow: hidden;

        &.active {
            color: $text-color-base;
            font-size: $font-size-large;
        }

        &.touch {
            background-color: $bg-color-touch;
            color: $text-color-base;
        }

        .dm-checkbox-text {
            color: $text-color-base;
            text-align: left;
        }
    }

    &-text {
        color: $text-color-tiny;
        font-size: $font-size-base;
        line-height: 22px;

        &.active {
            color: $text-color-base;
        }
    }
}