/* placeloading
---------------------------------- */
.dm-placeloading {
    position: relative;
    height: 268px;
    background-color: #fff;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        @include css3(animation, (placeloading .9s linear infinite));
        @include keyframes(placeloading) {
            0% {
                box-shadow: 19px 35px 0 3px #eee, 99px 61px 0 3px #f1f0f0, 99px 87px 0 3px #f3f3f3, 19px 113px 0 3px #f7f7f7, 19px 139px 0 3px #f7f7f7, 19px 165px 0 3px #f7f7f7, 19px 191px 0 3px #f7f7f7, 99px 217px 0 3px #f7f7f7, 99px 243px 0 3px #f7f7f7;
            }

            11% {
                box-shadow: 19px 35px 0 3px #f1f0f0, 99px 61px 0 3px #eee, 99px 87px 0 3px #f3f3f3, 19px 113px 0 3px #f7f7f7, 19px 139px 0 3px #f7f7f7, 19px 165px 0 3px #f7f7f7, 19px 191px 0 3px #f7f7f7, 99px 217px 0 3px #f7f7f7, 99px 243px 0 3px #f7f7f7;
            }

            22% {
                box-shadow: 19px 35px 0 3px #f3f3f3, 99px 61px 0 3px #f1f0f0, 99px 87px 0 3px #eee, 19px 113px 0 3px #f1f0f0, 19px 139px 0 3px #f3f3f3, 19px 165px 0 3px #f7f7f7, 19px 191px 0 3px #f7f7f7, 99px 217px 0 3px #f7f7f7, 99px 243px 0 3px #f7f7f7;
            }

            33% {
                box-shadow: 19px 35px 0 3px #f7f7f7, 99px 61px 0 3px #f3f3f3, 99px 87px 0 3px #f1f0f0, 19px 113px 0 3px #eee, 19px 139px 0 3px #f1f0f0, 19px 165px 0 3px #f3f3f3, 19px 191px 0 3px #f7f7f7, 99px 217px 0 3px #f7f7f7, 99px 243px 0 3px #f7f7f7;
            }

            44% {
                box-shadow: 19px 35px 0 3px #f7f7f7, 99px 61px 0 3px #f7f7f7, 99px 87px 0 3px #f3f3f3, 19px 113px 0 3px #f1f0f0, 19px 139px 0 3px #eee, 19px 165px 0 3px #f1f0f0, 19px 191px 0 3px #f3f3f3, 99px 217px 0 3px #f7f7f7, 99px 243px 0 3px #f7f7f7;
            }

            55% {
                box-shadow: 19px 35px 0 3px #f7f7f7, 99px 61px 0 3px #f7f7f7, 99px 87px 0 3px #f7f7f7, 19px 113px 0 3px #f3f3f3, 19px 139px 0 3px #f1f0f0, 19px 165px 0 3px #eee, 19px 191px 0 3px #f1f0f0, 99px 217px 0 3px #f3f3f3, 99px 243px 0 3px #f7f7f7;
            }

            66% {
                box-shadow: 19px 35px 0 3px #f7f7f7, 99px 61px 0 3px #f7f7f7, 99px 87px 0 3px #f7f7f7, 19px 113px 0 3px #f7f7f7, 19px 139px 0 3px #f3f3f3, 19px 165px 0 3px #f1f0f0, 19px 191px 0 3px #eee, 99px 217px 0 3px #f1f0f0, 99px 243px 0 3px #f3f3f3;
            }

            77% {
                box-shadow: 19px 35px 0 3px #f7f7f7, 99px 61px 0 3px #f7f7f7, 99px 87px 0 3px #f7f7f7, 19px 113px 0 3px #f7f7f7, 19px 139px 0 3px #f7f7f7, 19px 165px 0 3px #f3f3f3, 19px 191px 0 3px #f1f0f0, 99px 217px 0 3px #eee, 99px 243px 0 3px #f1f0f0;
            }

            88% {
                box-shadow: 19px 35px 0 3px #f3f3f3, 99px 61px 0 3px #f7f7f7, 99px 87px 0 3px #f7f7f7, 19px 113px 0 3px #f7f7f7, 19px 139px 0 3px #f7f7f7, 19px 165px 0 3px #f3f3f3, 19px 191px 0 3px #f1f0f0, 99px 217px 0 3px #eee, 99px 243px 0 3px #f1f0f0;
            }

            100% {
                box-shadow: 19px 35px 0 3px #f1f0f0, 99px 61px 0 3px #f3f3f3, 99px 87px 0 3px #f7f7f7, 19px 113px 0 3px #f7f7f7, 19px 139px 0 3px #f7f7f7, 19px 165px 0 3px #f7f7f7, 19px 191px 0 3px #f3f3f3, 99px 217px 0 3px #f1f0f0, 99px 243px 0 3px #eee;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 160px;
        height: 0;
        overflow-x: hidden;
        box-shadow: 147px 35px 0 3px #fff, 99px 61px 0 3px #fff, 0 87px 0 3px #fff, 147px 113px 0 3px #fff, 88px 139px 0 3px #fff, 20px 165px 0 3px #fff, 147px 191px 0 3px #fff, 99px 217px 0 3px #fff, 99px 243px 0 3px #fff;
    }
}