@import "./mask";
@import "./icon";

/* popup
---------------------------------- */
.dm-popup {
    @include hide;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-highest;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    overflow: hidden;

    &.active {
        @include flex;
        @include flex-direction(column);
    }

    &-head {
        padding: 20px $gap-main 8px;
    }

    &-title {
        color: $text-color-base;
        font-size: $font-size-larger;
        font-weight: $font-weight-bold;
        line-height: 26px;
        text-align: center;
        @extend %text-break;
    }

    &-body {
        display: block;
        @include flex-item;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;

        &.iscroll {
            overflow-y: hidden;
        }

        .iscroll-body {
            padding-bottom: $gap-main;
        }
    }

    &-text {
        font-size: $font-size-base;
        line-height: 22px;
        margin: $gap-main;

        &:first-child {
            margin-top: 8px;
        }

        &:last-child {
            margin-bottom: 8px;
        }

        p {
            margin: 4px 0;
        }

        a {
            color: $link-color-main;
        }

        b {
            display: inline-block;
            font-weight: $font-weight-bold;
        }
    }

    &-foot {
        height: 48px;
        text-align: center;
    }

    &-btn {
        display: inline-block;
        box-sizing: border-box;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: 1px solid $border-color-base;
        border-radius: 24px;
        text-align: center;
        padding: 0;
        margin: 12px auto;

        .icon-close {
            border-radius: 20px;

            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                @extend %sprite-form;
                background-position: 0 -60px;
            }
        }
    }
}