/* popup-screen
---------------------------------- */
.popup-screen {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    background-color: rgba($white, 0.9);
    border-radius: 0;
    margin: 0;

    .dm-popup-box {
        @include flex;

        @include flex-direction(column);

        height: 100%;
    }

    .dm-popup-head {
        height: 26px;
        max-height: 26px;
        font-size: $font-size-larger;
        font-weight: $font-weight-bold;
        line-height: 26px;
        text-align: center;
        padding: 20px 12px 5px;
    }

    .dm-popup-body {
        display: block;

        @include flex-item;

        height: 100%;
        max-height: 100%;
        overflow-y: auto;

        &.iscroll {
            overflow-y: hidden;
        }
    }

    .dm-popup-text {
        line-height: 20px;
        margin: 18px 12px;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 9px;
        }

        p {
            margin: 6px 0;
        }

        b {
            display: inline-block;
            font-weight: $font-weight-bold;
        }
    }

    .dm-popup-bar {
        height: 48px;
        max-height: 48px;

        .icon-close {
            display: block;
            position: relative;
            width: 24px;
            height: 24px;
            background-clip: padding-box;
            border: 12px solid rgba($white, 0.001);
            border-radius: 24px;
            text-align: center;
            box-shadow: inset 0 0 0 1px $black-dim;
            margin: 0 auto;

            @extend %text-hide;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 20px;
                height: 20px;
                background: url(../imgs/icon_form.png) no-repeat 0 -60px;
                background-size: 100px auto;
                margin-top: -10px;
                margin-left: -10px;
            }
        }
    }
}
