/* silder
---------------------------------- */
.dm-slider {
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;

    &-list {
        width: 100%;
        white-space: nowrap;
        @extend %text-hide;

        &-item {
            display: inline-block;
            box-sizing: border-box;
            width: 100%;
            padding: 0 $gap-main;
            overflow: hidden;
        }
    }

    &-index {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 4px;

        @extend %text-hide;

        &-item {
            display: inline-block;
            width: 10px;
            height: 2px;
            background-color: rgba(255, 255, 255, .3);
            margin: 0 1px;

            &.active {
                background-color: rgba(255, 255, 255, .8);
            }
        }
    }

    &-num {
        position: absolute;
        right: $gap-main + $gap-base;
        bottom: $gap-base / 2;
        background-color: rgba($black, .5);
        background-clip: padding-box;
        border-radius: 20px;
        color: $text-color-main;
        font-size: $font-size-small;
        line-height: 20px;
        padding: 0 $gap-base;
    }

    img {
        display: block;
        width: 100%;
        max-width: 100%;
        border-radius: $border-radius-base;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .11);
    }
}