@charset "utf-8";
/* status
---------------------------------- */
.dm-status {
    @include hide;
    color: $text-color-base;
    font-size: $font-size-base;
    line-height: 22px;
    text-align: center;
    padding: $gap-base $gap-main;

    &.active {
        @include show;
    }

    .icon-loading,
    .icon-loadfail,
    .icon-nothing,
    .icon-search,
    .icon-offline,
    &-icon {
        background: url(../imgs/bg_status_new.png) no-repeat;
        background-size: 160px auto;
    }

    .icon-loading,
    &-icon-loading {
        display: inline-block;
        position: relative;
        width: 24px;
        height: 24px;
        background-position: 0 -740px;
        vertical-align: middle;
        margin-right: 8px;
        @include css3(animation, spin 0.9s infinite linear);
    }

    .icon-loadfail,
    .icon-nothing,
    .icon-search,
    .icon-offline,
    &-icon-loadfail,
    &-icon-nothing,
    &-icon-search,
    &-icon-offline {
        display: block;
        position: relative;
        width: 160px;
        height: 160px;
        margin: 68px auto $gap-base;
    }

    .icon-loadfail,
    &-icon-loadfail {
        background-position: 0 0;
    }

    .icon-nothing,
    &-icon-nothing {
        background-position: 0 -160px;
    }

    .icon-search,
    &-icon-search {
        background-position: 0 -320px;
    }

    .icon-offline,
    &-icon-offline {
        background-position: 0 -480px;
    }

    .btn,
    &-btn {
        display: block;
        box-sizing: border-box;
        width: 180px;
        background-clip: padding-box;
        border: 0 none;
        border-radius: $border-radius-base;
        font-size: $font-size-large;
        font-weight: $font-weight-base;
        line-height: 44px;
        text-align: center;
        text-decoration: none;
        padding: 0 $gap-base;
        margin: 28px auto 4px;
        cursor: pointer;
        -webkit-appearance: none;
    }

    .btn-primary,
    &-btn-primary {
        background-color: $yellow;
        color: $text-color-base;

        &.touch {
            background-color: $orange;
        }
    }

    &-box {
        position: relative;
    }

    &-page {
        @include flex;
        @include flex-align(start);
        @include flex-justify(center);
        position: fixed;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background-color: $bg-color-main;
        padding-top: 44px;

        .dm-status-icon-loading {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: 0;
            margin-left: -12px;
            margin-top: -28px;
        }

        .dm-status-icon-loading + .dm-status-text {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin-top: 8px;
        }
    }
}

.dm-page-loading {
    @include hide;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: $z-index-limit;
    text-align: center;

    &.active {
        @include show;
    }

    .spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: $z-index-base;
        box-sizing: border-box;
        width: 80px;
        height: 60px;
        margin-left: -40px;
        margin-top: -30px;

        &::after {
            content: "加载中";
            position: absolute;
            top: 35px;
            right: 0;
            left: 0;
            box-sizing: border-box;
            font-size: $font-size-base;
            line-height: 24px;
            text-align: center;
            white-space: nowrap;
        }

        .spinny {
            position: absolute;
            top: 0;
            left: 50%;
            box-sizing: border-box;
            width: 24px;
            height: 24px;
            background: url(../imgs/bg_status_new.png) no-repeat 0 -740px;
            background-size: 320px auto;
            margin-left: -12px;
            @include css3(animation, spin 0.9s infinite linear);
        }
    }
}

@include keyframes(spin) {
    from {
        @include css3(transform, rotate(0deg));
    }

    to {
        @include css3(transform, rotate(360deg));
    }
}