/* tips
---------------------------------- */
.dm-tips {
    color: $text-color-tiny;
    font-size: $font-size-small;
    line-height: 20px;
    text-align: center;
    padding: $gap-base $gap-main;
}