@charset "utf-8";
/* upload
---------------------------------- */
.dm-upload {
    display: block;
    position: relative;
    width: 68px;
    height: 50px;
    background-color: $bg-color-base;

    &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 50%;
        width: 20px;
        height: 20px;
        background: url(../imgs/icon_form.png) no-repeat 0 -20px;
        background-size: 100px auto;
        margin-left: -10px;
    }

    &::after {
        content: "上传图片";
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        color: $text-color-assist;
        font-size: $font-size-smaller;
        line-height: 18px;
        text-align: center;
        white-space: nowrap;
        margin-top: 4px;
    }

    &-input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: $z-index-base;
        width: 100%;
        height: 100%;
        opacity: .00001;
        cursor: pointer;
        -webkit-appearance: none;
    }

    &-image {
        @include hide;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    &.loading {
        pointer-events: none;

        &::before {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $bg-color-assist;
            background-image: none;
            margin: 0;
        }

        &::after {
            content: "上传中...";
            color: $white;
            margin-top: -9px;
        }

        .dm-upload-input {
            @include hide;
        }

        .dm-upload-image {
            @include show;
        }
    }

    &.active {
        &::before,
        &::after {
            @include hide;
        }

        .dm-upload-input {
            @include hide;
        }

        .dm-upload-image {
            @include show;
        }
    }

    &-desc {
        color: $text-color-tiny;
        font-size: $font-size-small;
        line-height: 20px;
        @extend %text-break;
        margin-top: $gap-base;
    }

    &-cols {
        @include flex;
        @include flex-wrap(wrap);
        margin-bottom: -$gap-base;
        overflow: hidden;
    }

    &-cols & {
        margin-right: $gap-base;
        margin-bottom: $gap-base;
    }

    &-rows & + & {
        margin-top: $gap-base;
    }
}
