@charset "utf-8";

/* btn
---------------------------------- */
.btn {
    display: inline-block;
    box-sizing: border-box;
    background-clip: padding-box;
    border: 0 none;
    border-radius: 4px;
    font: normal 14px/32px helvetica neue, helvetica, arial, hiragino sans gb, microsoft yahei, sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 0;
    cursor: pointer;
    -webkit-appearance: none;
}

.btn-default {
    background-color: #fcfcfc;
    color: #404040;
}

.btn-default.touch {
    background-color: #f5f5f5;
}

.btn-default.disabled,
.btn-default.disabled.touch,
.btn-default[disabled],
.btn-default[disabled].touch {
    background-color: #e5e5e5;
    color: #999;
}

.btn-primary {
    background-color: #fc0;
    color: #404040;
}

.btn-primary.touch {
    background-color: #fb0;
}

.btn-primary.disabled,
.btn-primary.disabled.touch,
.btn-primary[disabled],
.btn-primary[disabled].touch {
    background-color: #e5e5e5;
    color: #999;
}

.btn-primary.active {
    background-color: #fcfcfc;
}

.btn-primary.active.touch {
    background-color: #f5f5f5;
}

.btn-common {
    background-color: transparent;
    box-shadow: inset 0 0 1px #ccc;
    color: #404040;
}

.btn-common.touch {
    background-color: #f5f5f5;
    box-shadow: none;
}

.btn-common.disabled,
.btn-common.disabled.touch,
.btn-common[disabled],
.btn-common[disabled].touch {
    background-color: #e5e5e5;
    color: #999;
}

.btn-info {
    background-color: transparent;
    color: #404040;
}

.btn-info.touch {
    background-color: transparent;
}

.btn-info.disabled,
.btn-info.disabled.touch,
.btn-info[disabled],
.btn-info[disabled].touch {
    background-color: transparent;
    color: #bfbfbf;
}

.btn-link {
    background-color: transparent;
    box-shadow: inset 0 0 1px #ccc;
    color: #404040;
}

.btn-link.touch {
    background-color: #f5f5f5;
    box-shadow: none;
}

.btn-link.disabled,
.btn-link.disabled.touch,
.btn-link[disabled],
.btn-link[disabled].touch {
    background-color: #e5e5e5;
    color: #999;
}

.btn-large {
    width: 100%;
    font-size: 16px;
    line-height: 44px;
}

.btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.btn-group .btn {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    max-width: 100%;
}

.btn-ds {
    display: inline-block;
    font-size: 10px;
    line-height: inherit;
    vertical-align: middle;
    margin-left: 12px;
}