@charset "utf-8";

/* ==========================================================================
   global
   ========================================================================== */
html,
body {
    height: 100%;
}

html {
    font-size: 625%;
}

body {
    min-width: 320px;
    background-color: #faf8ee;
    color: #404040;
    font: 14px helvetica neue, helvetica, arial, hiragino sans gb, microsoft yahei, sans-serif;
}

::-webkit-input-placeholder {
    color: #999;
}

a {
    color: #404040;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.disabled {
    color: #999;
    cursor: default;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bc-body {
    background-color: #faf8ee;
}

.bc-main {
    background-color: #fff;
}

.bc-border {
    background-color: #e5e5e5;
}

.fc-white {
    color: #fff;
}

.fc-blue {
    color: #456db4;
}

.fc-gray {
    color: #808080;
}

.fc-grey {
    color: #999;
}

.fc-red {
    color: #f60;
}

.fc-yellow {
    color: #fc0;
}

.fc-orange {
    color: #fb0;
}

/* ==========================================================================
   common
   ========================================================================== */

/* align
---------------------------------- */

[class*="com-align-"] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -ms-box;
    display: box;
    display: table-cell\9;
}

.com-align-middle {
    -webkit-box-align: center;
    -ms-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
}

.com-align-bottom {
    -webkit-box-align: end;
    -ms-box-align: end;
    -webkit-align-items: end;
    -ms-flex-align: end;
    align-items: end;
    vertical-align: bottom;
}

.com-align-center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
}

.com-align-right {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-box-pack: end;
    box-pack: end;
}

.com-align-left {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-box-pack: start;
    box-pack: start;
}

/* border
---------------------------------- */
[class*="com-border-"] {
    position: relative;
    box-sizing: border-box;
}

[class*="com-border-"]:after {
    content: "";
    position: absolute;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.com-border-bottom:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    -webkit-transform: scale3d(1, 0.5, 1);
    -ms-transform: scale3d(1, 0.5, 1);
    transform: scale3d(1, 0.5, 1);
}

.com-border-top:after {
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale3d(1, 0.5, 1);
    -ms-transform: scale3d(1, 0.5, 1);
    transform: scale3d(1, 0.5, 1);
}

.com-border-left:after {
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale3d(0.5, 1, 1);
    -ms-transform: scale3d(0.5, 1, 1);
    transform: scale3d(0.5, 1, 1);
}

.com-border-right:after {
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #e5e5e5;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scale3d(0.5, 1, 1);
    -ms-transform: scale3d(0.5, 1, 1);
    transform: scale3d(0.5, 1, 1);
}

/* arrow
---------------------------------- */
.com-arrow-right {
    position: relative;
    padding-right: 35px !important;
}

.com-arrow-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    width: 8px;
    height: 8px;
    border-top: solid 1px #999;
    border-right: solid 1px #999;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px;
}

.com-arrow-bg {
    position: relative;
    height: 6px;
    background: url(../imgs/bg_arrow.png) repeat-x bottom left;
    background-size: auto 6px;
}

/* space
---------------------------------- */
.com-space {
    margin-top: 12px;
}

/* ==========================================================================
   module
   ========================================================================== */

/* page
---------------------------------- */

.mod-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* header
---------------------------------- */
.mod-header {
    position: relative;
    height: 44px;
    background-color: #fff;
    overflow: hidden;
}

.mod-header:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform: scale3d(1, 0.5, 1);
    -ms-transform: scale3d(1, 0.5, 1);
    -webkit-transform: scale3d(1, 0.5, 1);
}

.mod-header h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 64px;
    overflow: hidden;
}

.mod-header .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 0;
    line-height: 44px;
    padding-right: 12px;
    padding-left: 32px;
    overflow: hidden;
}

.mod-header .back::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 8px;
    height: 8px;
    border-top: solid 1px #404040;
    border-right: solid 1px #404040;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin: -5px 0 0 14px;
}

.mod-header .back.touch {
    opacity: .6;
}

.mod-header .operate {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 14px;
    line-height: 44px;
    padding: 0 12px;
    overflow: hidden;
}

.mod-header .operate.touch {
    opacity: .6;
}

.mod-header-show {
    box-sizing: border-box;
    padding-top: 44px;
}

.mod-header-show .mod-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}

/* footbar
---------------------------------- */
.mod-footbar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.mod-footbar::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale3d(1, 0.5, 1);
    -ms-transform: scale3d(1, 0.5, 1);
    transform: scale3d(1, 0.5, 1);
}

.mod-footbar-show {
    box-sizing: border-box;
    padding-bottom: 50px;
}

/* content
---------------------------------- */
.mod-content {
    box-sizing: border-box;
    min-width: 320px;
    min-height: 100%;
}

/* banner
---------------------------------- */
.mod-banner img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.mod-banner a {
    display: block;
}

/* silder
---------------------------------- */
.mod-slider {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.mod-slider img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.mod-slider-list {
    display: -webkit-box;
    display: -ms-box;
    display: box;
}

.mod-slider-list .list-item {
    display: block;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    width: 100%;
    overflow: hidden;
}

.mod-slider-index {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.mod-slider-index .index-item {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: rgba(128, 128, 128, 0.5);
    background-clip: padding-box;
    border-radius: 6px;
    margin: 0 2px;
}

.mod-slider-index .index-item.active {
    background-color: rgba(255, 204, 0, 1);
}

.mod-slider-num {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px;
}

/* column
---------------------------------- */
.mod-column {
    overflow: hidden;
}

.mod-column-head {
    position: relative;
    padding: 12px;
    overflow: hidden;
}

.mod-column-title {
    float: left;
    color: #808080;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
}

.mod-column-title::before {
    content: "";
    float: left;
    width: 10px;
    height: 4px;
    background-color: #ffe500;
    background-clip: padding-box;
    border-radius: 4px;
    margin: 8px 6px 0 0;
}

.mod-column-tool {
    float: right;
    color: #808080;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
}

a.mod-column-tool::after {
    content: "";
    float: right;
    width: 6px;
    height: 6px;
    border-top: solid 1px #808080;
    border-right: solid 1px #808080;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 6px 3px 0 3px;
}

.mod-column-tool span {
    float: left;
    color: #999;
    font-size: 12px;
    line-height: 20px;
    margin-left: 8px;
}

/* list
---------------------------------- */
.mod-list {
    overflow: hidden;
}

.mod-list-info {
    display: block;
}

.mod-list-info.touch {
    background-color: #f5f5f5;
}

/* table
---------------------------------- */
.mod-table {
    display: table;
    box-sizing: border-box;
    width: 100%;
}

.mod-table-cell {
    display: table-cell;
    vertical-align: middle;
}

/* flex
---------------------------------- */
.mod-flex {
    display: -webkit-box;
    display: -ms-box;
    display: box;
}

.mod-flex-item {
    display: block;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    width: 100%;
}

/* nav
---------------------------------- */
.mod-nav {
    max-width: 100%;
    overflow: hidden;
}

.mod-nav-item {
    display: block;
    text-align: center;
    white-space: nowrap;
}

/* tab
---------------------------------- */
.mod-tab .mod-list-item {
    padding: 0 16px;
}

.mod-tab .mod-nav-item {
    color: #808080;
    font-size: 16px;
    line-height: 44px;
}

.mod-tab .active .mod-nav-item {
    color: #404040;
    font-weight: 700;
    box-shadow: inset 0 -2px 0 0 #f60;
}

@media only screen and (max-width:391px) {
    .mod-tab .mod-nav-item {
        font-size: 15px;
    }

}

@media only screen and (max-width:374px) {
    .mod-tab .mod-list-item {
        padding: 0 12px;
    }

    .mod-tab .mod-nav-item {
        font-size: 14px;
    }

}

/* flexible
---------------------------------- */
.mod-flexible {
    display: none;
    position: relative;
    color: #808080;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.mod-flexible::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -4px;
    width: 8px;
    height: 8px;
    border-bottom: solid 1px #808080;
    border-left: solid 1px #808080;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    vertical-align: middle;
    margin-left: 8px;
}

.mod-flexible.active {
    display: block;
}

.mod-flexible.toggle::after {
    top: 2px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.mod-flexible-body {
    display: -webkit-box;
    display: -ms-box;
    -webkit-line-clamp: 3;
    -ms-line-clamp: 3;
    -webkit-box-orient: vertical;
    -ms-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* text-overflow
---------------------------------- */
.mod-text-overflow {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* toast
---------------------------------- */
.mod-toast {
    display: none;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 101;
    text-align: center;
    -webkit-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.mod-toast span {
    display: inline-block;
    box-sizing: border-box;
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    background-clip: padding-box;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    padding: 8px 16px;
}

/* popup
---------------------------------- */
.mod-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 101;
    width: 266px;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 20px;
    margin-left: -133px;
    overflow: hidden;
}

.mod-popup-text {
    font-size: 14px;
    line-height: 22px;
    margin: 8px 16px;
}

.mod-popup-btn-box {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    -webkit-box-direction: reverse;
    -ms-box-direction: reverse;
    box-direction: reverse;
    margin: 24px 8px;
}

.mod-popup-btn-box .btn {
    display: block;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    margin: 0 8px;
}

.mod-popup-text + .mod-popup-btn-box {
    margin-top: 20px;
}

.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.mod-toast.active,
.mod-popup.active,
.mask.active {
    display: block;
}

@media screen and (orientation:landscape) {
    .mod-popup {
        position: absolute;
        top: 10%;
        margin-top: 0 !important;
    }

}

@media screen and (max-height:320px) {
    .mod-popup {
        position: absolute;
        top: 10%;
        margin-top: 0 !important;
    }

}

.popup-register-guide {
    position: absolute;
    margin-top: -150px;
}

.popup-register-guide .mod-popup-head {
    display: none;
}

.popup-register-guide .state-registered,
.popup-register-guide .state-unregister,
.popup-robot-check .robot-avatar,
.popup-dialog .mod-popup-img {
    background: url(../imgs/bg_popup.png) no-repeat;
    background-size: 266px auto;
}

.popup-register-guide .register-state {
    position: relative;
    height: 104px;
    background-color: #0dabd9;
    background-clip: padding-box;
    border-radius: 20px 20px 0 0;
}

.popup-register-guide .state-registered,
.popup-register-guide .state-unregister {
    display: block;
    height: 104px;
    background-position: 0 0;
    line-height: 999em;
    overflow: hidden;
}

.popup-register-guide .state-registered {
    background-position: 0 -105px;
}

.popup-register-guide .mod-popup-text {
    text-align: center;
    margin: 20px 16px;
}

.popup-robot-check {
    margin-top: -158px;
}

.popup-robot-check .robot-avatar {
    position: relative;
    height: 104px;
    background-color: #ffbf00;
    background-position: 0 -210px;
    background-clip: padding-box;
    border-radius: 20px 20px 0 0;
}

.popup-robot-check .form-tips {
    text-align: left;
    padding: 12px 16px;
}

.popup-robot-check .form-field {
    margin: 0 16px 16px;
    padding-bottom: 0;
}

.popup-robot-check .form-field::after {
    display: none;
}

.popup-robot-check .form-item {
    border: 1px solid #e5e5e5;
}

.popup-robot-check .form-label {
    display: none;
}

.popup-robot-check .form-warning {
    position: static;
    color: #f60;
    font-size: 12px;
    line-height: 20px;
    margin: 12px 16px -4px;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.popup-robot-check .form-field.active .form-item {
    border-color: #f60;
}

.popup-robot-check .input-text {
    text-align: left;
    padding: 12px;
}

.popup-dialog {
    margin-top: -132px;
}

.popup-dialog .mod-popup-head {
    display: none;
}

.popup-dialog .mod-popup-img {
    position: relative;
    height: 104px;
    background-color: #fc0;
    background-position: 0 -315px;
    background-clip: padding-box;
    border-radius: 20px 20px 0 0;
}

.popup-dialog .mod-popup-img-s {
    background-position: 0 -420px;
}

.popup-dialog .mod-popup-img-f {
    background-position: 0 -525px;
}

.popup-dialog .mod-popup-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin: 20px 16px 4px;
}

.popup-dialog .mod-popup-text {
    text-align: center;
    margin-top: 20px;
}

.popup-dialog .mod-popup-title + .mod-popup-text {
    margin-top: 4px;
}

.popup-dialog .mod-popup-title + .mod-popup-btn-box,
.popup-dialog .mod-popup-text + .mod-popup-btn-box {
    margin-top: 20px;
}

/* status
---------------------------------- */
.mod-status-box {
    position: relative;
    min-height: 40px;
}

.mod-status {
    display: none;
    color: #808080;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 10px 12px;
}

.mod-status.active {
    display: block;
}

.mod-status .icon-loading,
.mod-status .icon-loadfail,
.mod-status .icon-nothing,
.mod-status .icon-offline,
.page-loading .spinner .spinny {
    background: url(../imgs/bg_status.png) no-repeat;
    background-size: 320px auto;
}

.mod-status .icon-loading {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    background-position: 0 -820px;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.mod-status .icon-loading-point {
    display: none;
}

.mod-status .icon-loadfail,
.mod-status .icon-nothing,
.mod-status .icon-offline {
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.mod-status .icon-loadfail {
    height: 264px;
    background-position: center 0;
}

.mod-status .icon-nothing {
    height: 300px;
    background-position: center -265px;
}

.mod-status .icon-offline {
    height: 254px;
    background-position: center -565px;
}

.mod-status .btn {
    display: block;
    padding: 0 22px;
    margin: 24px auto;
}

.page-loading {
    display: none;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    text-align: center;
}

.page-loading.active {
    display: block;
}

.page-loading .spinner,
.page-loading .spinner::after,
.page-loading .spinner .spinny {
    position: absolute;
    box-sizing: border-box;
}

.page-loading .spinner {
    z-index: 10;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 60px;
    margin-left: -40px;
    margin-top: -30px;
}

.page-loading .spinner::after {
    content: "加载中";
    top: 35px;
    right: 0;
    left: 0;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
}

.page-loading .spinner .spinny {
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    background-position: 0 -820px;
    margin-left: -12px;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

.page-loading .spinner .spinny,
.mod-status .icon-loading {
    -webkit-animation: spin .9s infinite linear;
    animation: spin .9s infinite linear;
}

/* push
---------------------------------- */
.mod-push {
    position: relative;
    background-color: #fecd06;
    padding-left: 34px;
    overflow: hidden;
}

.mod-push-close {
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.001);
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.mod-push-close::before,
.mod-push-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 12px;
    background-color: #404040;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -6px;
}

.mod-push-close::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mod-push-info {
    display: block;
    line-height: 44px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mod-push-btn {
    float: right;
    box-sizing: border-box;
    width: auto;
    height: 28px;
    border: 1px solid #404040;
    border-radius: 3px;
    line-height: 26px;
    text-align: center;
    padding: 0 16px;
    margin: 8px 12px;
    overflow: hidden;
}

.mod-push-info.touch .push-btn {
    border-color: #404040;
}

@media screen and (max-width:320px) {
    .mod-push-info,
    .mod-push-btn {
        font-size: 12px;
    }

}

/* push
---------------------------------- */
.mod-adv {
    position: relative;
    overflow: hidden;
}

.mod-adv-info {
    display: block;
    overflow: hidden;
}

.mod-adv-info img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.mod-adv-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;
    background-color: rgba(0, 0, 0, 0.001);
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.mod-adv-close::before,
.mod-adv-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 12px;
    background-color: #404040;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -6px;
}

.mod-adv-close::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}