@charset "utf-8";

/* icon
---------------------------------- */
.icon {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.icon::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../imgs/icon.png) no-repeat;
    background-size: 100px auto;
}

.icon-date-sm,
.icon-integral-sm {
    width: 10px;
    height: 10px;
}

.icon-date-sm::after,
.icon-integral-sm::after {
    width: 10px;
    height: 10px;
}

.icon-date-sm::after {
    background-position: -90px -20px;
}

.icon-integral-sm::after {
    background-position: -70px -20px;
}

/* push
---------------------------------- */
.mod-adv-info {
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 12px;
}

.mod-adv-info.touch {
    background-color: #f5f5f5;
}

.mod-adv-info b {
    color: #f60;
    font-weight: 400;
}

/* footbar
---------------------------------- */
.mod-footbar {
    position: static;
    height: auto;
}

.mod-footbar::after {
    display: none;
}

.mod-footbar-show {
    padding-bottom: 0;
}

.statement {
    display: block;
    background-color: #faf8ee;
    color: #999;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 28px 12px 20px;
    overflow: hidden;
}

/* popup
---------------------------------- */
.popup-screen {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0;
    margin: 0;
}

.popup-screen .mod-popup-box {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    height: 100%;
}

.popup-screen .mod-popup-head {
    height: 26px;
    max-height: 26px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    padding: 20px 12px 5px;
}

.popup-screen .mod-popup-body {
    display: block;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.popup-screen .mod-popup-body.iscroll {
    overflow-y: hidden;
}

.popup-screen .mod-popup-text {
    line-height: 20px;
    margin: 18px 12px;
}

.popup-screen .mod-popup-text:first-child {
    margin-top: 0;
}

.popup-screen .mod-popup-text:last-child {
    margin-bottom: 0;
    padding-bottom: 9px;
}

.popup-screen .mod-popup-text p {
    margin: 6px 0;
}

.popup-screen .mod-popup-text b {
    display: inline-block;
    font-weight: 700;
}

.popup-screen .mod-popup-bar {
    height: 48px;
    max-height: 48px;
}

.popup-screen .mod-popup-bar .icon-close {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    background-clip: padding-box;
    border: 12px solid rgba(255, 255, 255, 0.001);
    border-radius: 24px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    box-shadow: inset 0 0 0 1px #404040;
    margin: 0 auto;
    overflow: hidden;
}

.popup-screen .mod-popup-bar .icon-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: url(../imgs/icon_form.png) no-repeat 0 -60px;
    background-size: 100px auto;
    margin-top: -10px;
    margin-left: -10px;
}

/* product
---------------------------------- */
.product-info {
    padding: 12px;
    overflow: hidden;
}

.product-image {
    margin: 4px 12px 4px 0;
    overflow: hidden;
}

.product-image img {
    display: block;
    width: 60px;
    height: 60px;
    max-width: 60px;
    border-radius: 3px;
}

.product-content {
    overflow: hidden;
}

.product-title {
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 2px;
    overflow: hidden;
}

.product-title span {
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-title .icon {
    float: right;
    margin-top: 4px;
}

.product-title .icon:not(.icon-danbao) {
    margin-left: 4px;
}

.product-title .tag {
    float: right;
    margin-top: 9px;
    margin-left: 16px;
}

.product-meta {
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
}

.product-meta:not(:last-child) {
    margin: 0 0 2px;
}

.product-meta span.fl {
    margin-right: 10px;
}

.product-meta .icon {
    float: left;
    margin-top: 5px;
    margin-right: 4px;
}

.product-meta .icon-danbao,
.product-meta .icon-danbao-qy {
    float: right;
    margin-top: 0;
    margin-right: 0;
}

.product-meta b {
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin-right: 4px;
    margin-top: -0.5px;
}

.product-meta .line::after {
    content: "";
    float: left;
    width: 1px;
    height: 8px;
    background-color: #808080;
    margin-top: 6px;
    margin-right: 8px;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale3d(0.5, 1, 1);
    -ms-transform: scale3d(0.5, 1, 1);
    transform: scale3d(0.5, 1, 1);
}

.product-opt {
    font-size: 12px;
    line-height: 20px;
}

/* layout
---------------------------------- */
.integral {
    min-height: auto;
}

/* detail
---------------------------------- */
.detail {
    position: relative;
    text-align: center;
    padding: 12px;
}

.detail .product-info {
    padding: 0;
}

.detail .product-info span {
    display: block;
    color: #999;
    font-size: 12px;
    line-height: 20px;
}

.detail .product-info b {
    display: inline-block;
    position: relative;
    top: 1px;
    color: #f60;
    font-size: 44px;
    font-weight: 400;
    line-height: 56px;
    vertical-align: baseline;
    margin-right: 4px;
}

.detail .product-opt {
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

/* record
---------------------------------- */
.record .product-title {
    font-weight: 400;
}

.record .product-info,
.task .product-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-box-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 12px;
    overflow: hidden;
}

.record .product-content,
.task .product-content {
    display: block;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    flex: 1;
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
}

.record .product-aside,
.task .product-aside {
    text-align: right;
    margin-left: 12px;
}

.record .product-aside .product-meta b {
    margin-bottom: -2px;
}

/* task
---------------------------------- */
.task .product-aside .product-meta {
    font-size: 14px;
    line-height: 22px;
}

.task .product-aside .com-arrow-right {
    right: -12px;
}

.task .product-title {
    font-weight: 400;
}

.task .tag-integral {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-box-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    float: right;
    min-width: 42px;
    height: 16px;
    box-sizing: border-box;
    background-clip: padding-box;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    color: #f60;
    font-size: 10px;
    line-height: 16px;
    margin-top: 4px;
    margin-left: 4px;
    padding: 0 4px;
    overflow: hidden;
}

.task .tag-integral .icon-integral-sm {
    margin: 0 4px 0 0;
}

.task .active .product-info {
    pointer-events: none;
}

.task .active .product-info.com-arrow-right::after {
    display: none;
}

.task .active .product-title,
.task .active .tag-integral,
.task .active .product-opt .fc-red {
    color: #999;
}

.task .active .icon-integral-sm::after {
    background-position: -90px -55px;
}

.task .active .product-meta {
    color: #808080;
}

/* intro
---------------------------------- */
.intro .mod-column-body {
    padding: 8px 12px 16px;
}

.intro .mod-dlist-title {
    font-weight: 700;
    line-height: 22px;
    padding-top: 12px;
}

.intro .mod-dlist-text {
    line-height: 20px;
    padding: 2px 0;
}

.intro .mod-dlist-text p {
    padding: 3px 0;
}

/* faq
---------------------------------- */
.faq {
    position: relative;
    padding: 0 28px;
}

.faq::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 12px;
    width: 10px;
    height: 4px;
    background-color: #ffe500;
    background-clip: padding-box;
    border-radius: 4px;
}

.faq-list .mod-list-info {
    padding: 8px 0;
}

.faq-title {
    color: #808080;
    font-weight: 400;
    line-height: 22px;
    padding: 4px 0;
}

.faq-cont {
    line-height: 22px;
    padding: 4px 0;
}

.notice {
    display: block;
    color: #808080;
    font-size: 12px;
    line-height: 20px;
    padding: 8px 12px;
    overflow: hidden;
}

@media screen and (max-width:320px) {
    .faq {
        padding: 0 12px;
    }

    .faq::before {
        display: none;
    }

}