@charset "utf-8";

/* icon
---------------------------------- */
.icon {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.icon::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../imgs/icon.png) no-repeat;
    background-size: 100px auto;
}

.icon-danbao,
.icon-danbao-qy,
.icon-renqi,
.icon-remen,
.icon-tuijian,
.icon-jizhao {
    width: 23px;
    height: 14px;
}

.icon-danbao,
.icon-danbao-qy {
    width: 56px;
    height: 15px;
}

.icon-danbao::after,
.icon-danbao-qy::after,
.icon-renqi::after,
.icon-remen::after,
.icon-tuijian::after,
.icon-jizhao::after {
    width: 23px;
    height: 14px;
    background-position: 0 0;
}

.icon-danbao::after,
.icon-danbao-qy::after {
    width: 56px;
    height: 15px;
    background-position: 0 -20px;
}

.icon-danbao-qy::after {
    background-position: -35px -100px;
}

.icon-remen::after {
    background-position: -25px 0;
}

.icon-tuijian::after {
    background-position: -50px 0;
}

.icon-jizhao::after {
    background-position: -75px 0;
}

.icon-location-sm,
.icon-date-sm {
    width: 10px;
    height: 10px;
}

.icon-location-sm::after,
.icon-date-sm::after {
    width: 10px;
    height: 10px;
    background-position: -80px -20px;
}

.icon-date-sm::after {
    background-position: -90px -20px;
}

/* tag
---------------------------------- */
.tag {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    overflow: hidden;
}

.tag-status {
    width: 6px;
    line-height: 6px;
    background-color: #f60;
    background-clip: padding-box;
    border-radius: 6px;
}

/* filter
---------------------------------- */
.mod-filter {
    position: static;
    top: 44px;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
}

.filter-nav .mod-list-item:not(:last-child) {
    position: relative;
    margin-right: 1px;
}

.filter-nav .mod-list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 1px;
    height: 32px;
    background-color: #e5e5e5;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scale3d(0.5, 1, 1);
    -ms-transform: scale3d(0.5, 1, 1);
    transform: scale3d(0.5, 1, 1);
    margin-top: -16px;
}

.filter-nav .mod-list-info {
    position: relative;
    font-size: 12px;
    line-height: 44px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 6px;
    overflow: hidden;
}

.filter-nav .mod-list-info::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -4px;
    width: 0;
    height: 0;
    border-bottom: 6px solid #ccc;
    border-right: 6px solid transparent;
    margin-left: 10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: transform .15s ease;
    transition: transform .15s ease;
}

.filter-nav .active .mod-list-info {
    color: #fb0;
}

.filter-nav .active .mod-list-info::after {
    top: 0;
    border-bottom: 6px solid #fb0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.filter-cont {
    display: none;
}

.filter-menu .com-border-bottom:not(:last-child)::after {
    left: 12px;
}

.filter-menu .mod-list-info {
    line-height: 20px;
    padding: 12px;
}

.filter-menu .active .mod-list-info {
    pointer-events: none;
}

.filter-wrap {
    max-height: 332px;
    overflow-x: hidden;
    overflow-y: auto;
}

.filter-body .filter-menu .active .mod-list-info {
    background-color: #faf8ee;
    color: #fb0;
}

.filter-body .filter-menu .active .mod-list-info::before,
.filter-body .filter-menu .active .mod-list-info::after {
    display: none;
}

.filter-checkbox .mod-list-item {
    padding: 12px;
}

.filter-checkbox .checkbox-group {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    position: relative;
}

.filter-checkbox .checkbox-group input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: .001;
    -webkit-appearance: none;
}

.filter-checkbox .checkbox-group input + span {
    display: block;
    position: relative;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
    line-height: 20px;
    padding-left: 22px;
    overflow: hidden;
}

.filter-checkbox .checkbox-group input[disabled] + span {
    color: #999;
}

.filter-checkbox .checkbox-group input + span:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -22px;
    width: 16px;
    height: 16px;
    background: url(../imgs/icon_form.png) no-repeat -42px -42px;
    background-size: 100px auto;
    margin-top: -8px;
}

.filter-checkbox .checkbox-group input:checked + span:before {
    background-position: -62px -42px;
}

.filter-checkbox .checkbox-group input[disabled] + span:before {
    background-position: -82px -42px;
}

.filter-checkbox .flip.checkbox-group input + span {
    padding-right: 22px;
    padding-left: 0;
}

.filter-checkbox .flip.checkbox-group input + span:before {
    left: auto;
    right: 0;
}

.filter-radio {
    padding: 0 0 8px 12px;
}

.filter-radio.com-border-bottom::after {
    left: 12px;
}

.filter-radio .mod-list-item {
    position: relative;
    float: left;
    margin: 8px 12px 8px 0;
}

.filter-radio .radio-group {
    display: inline-block;
    position: relative;
    min-height: 32px;
}

.filter-radio .radio-group input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: .001;
    -webkit-appearance: none;
}

.filter-radio .radio-group input + span {
    display: inline-block;
    position: relative;
    z-index: 2;
    min-width: 20px;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
    padding: 0 18px;
}

.filter-radio .radio-group input + span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-clip: padding-box;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #e5e5e5;
}

.filter-radio .radio-group input:checked + span:before {
    background-color: #fff7d1;
    box-shadow: inset 0 0 0 1px #fc0;
}

.filter-subtitle {
    color: #999;
    font-weight: 400;
    line-height: 22px;
    margin: 12px 12px 0;
}

.filter-bar {
    padding: 16px 12px;
    overflow: hidden;
}

.filter-bar .filter-btn {
    float: right;
    box-sizing: border-box;
    width: 72px;
    height: 32px;
    background-color: #fc0;
    background-clip: padding-box;
    border: 0 none;
    border-radius: 3px;
    color: #404040;
    font: 14px/32px helvetica neue, helvetica, arial, hiragino sans gb, microsoft yahei, sans-serif;
    padding: 0;
    margin-left: 12px;
}

.filter-bar .filter-btn.touch {
    background-color: #fb0;
}

.filter-bar .btn-default {
    background-color: transparent;
    box-shadow: inset 0 0 1px #ccc;
    line-height: 30px;
}

.filter-bar .btn-default.touch {
    background-color: #f5f5f5;
    box-shadow: none;
}

.mod-filter.active {
    position: fixed;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.mod-filter.active .filter-nav,
.mod-filter.active .filter-cont {
    position: relative;
    z-index: 101;
}

.mod-filter.active .filter-cont.active {
    display: block;
}

/* product
---------------------------------- */
.product-info {
    padding: 12px 20px;
    overflow: hidden;
}

.product-image {
    display: none;
    margin: 4px 12px 4px 0;
    overflow: hidden;
}

.product-image img {
    display: block;
    width: 60px;
    height: 60px;
    max-width: 60px;
    border-radius: 3px;
}

.product-content {
    overflow: hidden;
}

.product-title {
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 2px;
    overflow: hidden;
}

.product-title span {
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-title .icon {
    float: right;
    margin-top: 5px;
}

.product-title .icon:not(.icon-danbao) {
    margin-left: 4px;
}

.product-title .tag {
    float: right;
    margin-top: 9px;
    margin-left: 16px;
}

.product-info:visited .product-title,
.product-info.visited .product-title {
    color: #808080;
}

.product-meta {
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
}

.product-meta:not(:last-child) {
    margin: 0 0 8px;
}

.product-meta span.fl {
    margin-right: 8px;
}

.product-meta .icon {
    float: left;
    margin-top: 5px;
    margin-right: 4px;
    margin-left: -1px;
}

.product-meta .icon-danbao,
.product-meta .icon-danbao-qy {
    float: right;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.product-meta b {
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin-right: 2px;
    margin-top: -0.5px;
}

.product-meta .line::after {
    content: "";
    float: left;
    width: 1px;
    height: 8px;
    background-color: #808080;
    margin-top: 6px;
    margin-right: 8px;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale3d(0.5, 1, 1);
    -ms-transform: scale3d(0.5, 1, 1);
    transform: scale3d(0.5, 1, 1);
}

.product-opt {
    position: relative;
}

.product-opt::after {
    content: "";
    position: absolute;
    top: 0;
    right: 20px;
    left: 20px;
    height: 0;
    border-top: 1px dashed #e5e5e5;
}

.product-opt .com-border-right::after {
    top: 12px;
    bottom: 12px;
    height: auto;
}

.product-opt .com-border-right:last-child::after {
    display: none;
}

.product-opt .mod-nav-item {
    font-size: 14px;
    line-height: 50px;
}

.product-opt .mod-nav-item.touch {
    background-color: #f5f5f5;
}

.overdue.product-info {
    position: relative;
}

.overdue.product-info::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    background: url(../imgs/icon.png) no-repeat 0 -85px;
    background-size: 100px auto;
}

.overdue.product-info,
.overdue .product-meta .fc-gray,
.overdue .product-meta .fc-red {
    color: #999;
    pointer-events: none;
}

.overdue .product-image img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.overdue .product-meta .line::after {
    background-color: #999;
}

.overdue .product-title .icon,
.overdue .product-meta .icon-danbao {
    display: none;
}

.mod-list .mod-adv {
    background-color: #faf8ee;
    padding: 12px 0 13px;
}

.mod-list .mod-adv-close {
    top: 12px;
}

/* recommend
---------------------------------- */
.recommend .mod-column-head {
    display: none;
}