@charset "utf-8";

/* layout
---------------------------------- */
.message-list {
    padding: 4px 0;
    overflow: hidden;
}

.message-list .mod-list-item {
    padding: 0 12px 4px;
}

.message-list .mod-list-info {
    display: block;
}

.message-list .message-time {
    color: #999;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    padding: 12px;
}

.message-list .message-info {
    display: block;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 4px 12px;
}

.message-list .message-info.touch {
    background-color: #f5f5f5;
}

.message-list .message-title {
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}

.message-list .message-meta {
    color: #808080;
    font-size: 12px;
    line-height: 20px;
    margin: 4px 0;
}

.message-list .message-image {
    position: relative;
}

.message-list .touch .message-image::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.04);
}

.message-list .message-image img {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 8px 0;
}

.message-list .message-content {
    color: #808080;
    font-size: 12px;
    line-height: 20px;
    margin: 8px 0;
    overflow: hidden;
}

.message-list .message-meta + .message-content {
    margin-top: 4px;
}

.message-opt {
    position: relative;
    font-size: 12px;
    line-height: 20px;
    padding: 8px 0;
}

.message-opt::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale3d(1, 0.5, 1);
    -ms-transform: scale3d(1, 0.5, 1);
    transform: scale3d(1, 0.5, 1);
}

.message-opt::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 2px;
    width: 8px;
    height: 8px;
    border-top: solid 1px #999;
    border-right: solid 1px #999;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px;
}

.message-list .message-image + .message-opt {
    margin-top: 12px;
}

.position-info.message-info {
    padding: 0;
}

.position-list .mod-list-item {
    padding: 0;
}

.position-list .mod-list-item.com-border-bottom:last-child::after {
    display: none;
}

.position-list .mod-list-info.com-arrow-right {
    padding-right: 36px;
}

.near-info.message-info {
    padding: 0;
}

.near-info + .near-info {
    margin-top: 16px;
}

.near-info .message-title {
    color: #808080;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 8px 12px;
    margin-top: 0;
}

.near-list .mod-list-item {
    padding: 0;
}

.near-list .mod-list-item.com-border-bottom:last-child::after {
    display: none;
}

.near-list .product-info {
    position: relative;
}

.near-list .product-title {
    margin-right: 64px;
}

.near-list .product-ds {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 12px;
    line-height: 20px;
}