@charset "utf-8";

/* icon
---------------------------------- */
.icon {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.icon::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../imgs/icon_online.png) no-repeat;
    background-size: 120px auto;
}

.icon-cate-reg,
.icon-cate-share,
.icon-cate-promotion,
.icon-cate-survey,
.icon-cate-check,
.icon-cate-other {
    box-sizing: border-box;
    width: 50px;
    height: 48px;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    padding-top: 32px;
}

.icon-cate-reg::after,
.icon-cate-share::after,
.icon-cate-promotion::after,
.icon-cate-survey::after,
.icon-cate-check::after,
.icon-cate-other::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 40px;
    height: 32px;
    background-position: 0 -20px;
    margin-top: 0;
    margin-left: -20px;
}

.icon-cate-share::after {
    background-position: -40px -20px;
}

.icon-cate-promotion::after {
    background-position: -80px -20px;
}

.icon-cate-survey::after {
    background-position: 0 -60px;
}

.icon-cate-check::after {
    background-position: -40px -60px;
}

.icon-cate-other::after {
    background-position: -80px -60px;
}

.icon-rise {
    width: 6px;
    height: 10px;
}

.icon-rise::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 10px;
    background: url(../imgs/icon_rise.gif) no-repeat;
    background-size: cover;
    margin-top: -5px;
    margin-left: -3px;
}

/* product
---------------------------------- */
.list.com-space {
    margin-top: 16px;
}

.list .mod-column-head {
    display: none;
}

.product-info {
    padding: 12px;
    overflow: hidden;
}

.product-image {
    margin: 2px 12px 2px 0;
    overflow: hidden;
}

.product-image img {
    display: block;
    width: 48px;
    height: 48px;
    max-width: 48px;
    border-radius: 3px;
}

.product-content {
    overflow: hidden;
}

.product-title {
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 4px 0;
    overflow: hidden;
}

.product-meta {
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
}

.product-meta:not(:last-child) {
    margin: 1px 0 2px;
}

.product-meta span.fl {
    margin-right: 10px;
}

.product-meta .icon {
    float: left;
    margin-top: 5px;
    margin-right: 4px;
}

.product-meta .icon-danbao {
    float: right;
    margin-top: 0;
    margin-right: 0;
}

.product-meta del {
    float: left;
    color: #999;
    font-size: 10px;
    text-decoration: line-through;
    margin-right: 4px;
}

.product-meta b {
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin-right: 4px;
    margin-top: -0.5px;
}

.product-meta .line::after {
    content: "";
    float: left;
    width: 1px;
    height: 8px;
    background-color: #808080;
    margin-top: 6px;
    margin-right: 8px;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale3d(0.5, 1, 1);
    -ms-transform: scale3d(0.5, 1, 1);
    transform: scale3d(0.5, 1, 1);
}

.product-opt {
    color: #808080;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding: 8px 12px;
}

.product-opt.mod-nav {
    padding: 0;
}

.product-opt .com-border-right::after {
    top: 12px;
    bottom: 12px;
    height: auto;
}

.product-opt .com-border-right:last-child::after {
    display: none;
}

.product-opt .mod-nav-item {
    font-size: 14px;
    line-height: 50px;
}

.product-opt .mod-nav-item.touch {
    background-color: #f5f5f5;
}