@charset "utf-8";

/* layout
---------------------------------- */
.filter-type {
    padding: 4px 0 16px 12px;
}

.filter-type .mod-list-item {
    float: left;
    box-sizing: border-box;
    width: 25%;
    padding: 12px 12px 0 0;
}

.filter-type .mod-list-info {
    display: block;
    position: relative;
    box-sizing: border-box;
    background-clip: padding-box;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
}

.filter-type .active .mod-list-info {
    background-color: #fff7d1;
    border-color: #fc0;
    pointer-events: none;
}

@media screen and (-webkit-min-device-pixel-ratio:2) {
    .filter-type .mod-list-info {
        border: 0;
        line-height: 32px;
    }

    .filter-type .mod-list-info:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 200%;
        height: 200%;
        background-color: transparent;
        background-clip: padding-box;
        border: 1px solid #e5e5e5;
        border-radius: 6px;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        pointer-events: none;
    }

    .filter-type .active .mod-list-info::after {
        border-color: #fc0;
    }

}

/* popup
---------------------------------- */
.popup-screen {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0;
    margin: 0;
}

.popup-screen .mod-popup-box {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    height: 100%;
}

.popup-screen .mod-popup-head {
    height: 26px;
    max-height: 26px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    padding: 20px 12px 5px;
}

.popup-screen .mod-popup-body {
    display: block;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.popup-screen .mod-popup-body.iscroll {
    overflow-y: hidden;
}

.popup-screen .mod-popup-text {
    line-height: 20px;
    margin: 18px 12px;
}

.popup-screen .mod-popup-text:first-child {
    margin-top: 0;
}

.popup-screen .mod-popup-text:last-child {
    margin-bottom: 0;
    padding-bottom: 9px;
}

.popup-screen .mod-popup-text p {
    margin: 6px 0;
}

.popup-screen .mod-popup-text b {
    display: inline-block;
    font-weight: 700;
}

.popup-screen .mod-popup-bar {
    height: 48px;
    max-height: 48px;
}

.popup-screen .mod-popup-bar .icon-close {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    background-clip: padding-box;
    border: 12px solid rgba(255, 255, 255, 0.001);
    border-radius: 24px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    box-shadow: inset 0 0 0 1px #404040;
    margin: 0 auto;
    overflow: hidden;
}

.popup-screen .mod-popup-bar .icon-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: url(../imgs/icon_form.png) no-repeat 0 -60px;
    background-size: 100px auto;
    margin-top: -10px;
    margin-left: -10px;
}