@charset "utf-8";

/* layout
---------------------------------- */
.form-heading {
    background-color: #fff;
    color: #404040;
    font-size: 16px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 12px;
    overflow: hidden;
}

.form-heading::before {
    content: "";
    float: left;
    width: 14px;
    height: 14px;
    background: url(../imgs/icon.png) -60px -120px;
    background-size: 100px auto;
    margin-top: 5px;
    margin-right: 6px;
}

.detail-widget .text-group {
    text-align: left;
}