@charset "utf-8";

/* push
---------------------------------- */
.mod-adv-info {
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 12px;
}

.mod-adv-info.touch {
    background-color: #f5f5f5;
}

.mod-adv-info b {
    color: #f60;
    font-weight: 400;
}

/* layout
---------------------------------- */

/* detail
---------------------------------- */

.detail {
    position: relative;
    text-align: center;
    padding: 12px;
}

.detail .product-title {
    display: block;
    color: #999;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
}

.detail .product-info {
    display: block;
    line-height: 22px;
    padding: 0;
}

.detail .product-info b {
    display: inline-block;
    position: relative;
    top: 1px;
    font-size: 44px;
    font-weight: 400;
    line-height: 52px;
    margin-right: 4px;
}

.detail .product-ds {
    display: block;
    font-size: 12px;
    line-height: 20px;
}

.detail .product-ds b {
    color: #f60;
    font-weight: 400;
}

.detail .product-opt {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #808080;
    font-size: 12px;
    line-height: 20px;
}