@charset "utf-8";

/*!
 * Doumi App v2.0
 * Author: liuyun
 * E-mail: liuyun@doumi.com
 */

// variables and mixins
//-----------------------------------------------------
@import "setting";
@import "mixins";
// global
//-----------------------------------------------------
@import "global";