@import "base/base";
@import "widget/common";
@import "widget/layout";
@import "widget/status";
@import "widget/cell";
@import "widget/column";
@import "widget/icon";

/* icon
---------------------------------- */
.icon-wechat,
.icon-qq,
.icon-weibo {
    width: 44px;
    height: 44px;

    &::after {
        width: 44px;
        height: 44px;
        background: url(../imgs/icon_account.png) no-repeat 0 0;
        background-size: 200px auto;
    }
}

.icon-qq::after {
    background-position: -50px 0;
}

.icon-weibo::after {
    background-position: -100px 0;
}

/* account-binding
---------------------------------- */
.account-binding {
    padding-bottom: 32px;
}

/* account
---------------------------------- */
.account {
    .dm-column-head {
        @include hide;
    }

    .product-info {
        padding-top: 8px;
        padding-bottom: 8px;

        .dm-icon {
            @include css3(transform, scale(.909));
            @include css3(filter, grayscale(1));
            margin-right: $gap-base;
        }

        &.active {
            .dm-icon {
                @include css3(filter, grayscale(0));
            }

            .product-opt {
                color: $text-color-tiny;
            }
        }
    }

    .product-title {
        font-weight: $font-weight-base;
        @extend %text-break;
    }
}