@import "base/base";
@import "widget/common";
@import "widget/layout";
@import "widget/status";
@import "widget/toptips";
@import "widget/cell";
@import "widget/input";
@import "widget/vcode";
@import "widget/btn";
@import "widget/popup";

/* account-replace
---------------------------------- */
.account-replace {
    padding-bottom: 32px;
}