@import "base/base";
@import "widget/common";
@import "widget/layout";
@import "widget/status";
@import "widget/cell";
@import "widget/input";
@import "widget/btn";
@import "widget/icon";
@import "widget/vcode";
@import "widget/hr";
@import "widget/nav";
@import "widget/popup";

/* icon
---------------------------------- */
.icon-eye {
    &::after {
        @extend %sprite-form;
        background-position: 0 0;
    }

    &.active::after {
        background-position: -20px 0;
    }
}

.icon-wechat,
.icon-qq,
.icon-key,
.icon-weibo {
    width: 44px;
    height: 44px;

    &::after {
        width: 44px;
        height: 44px;
        background: url(../imgs/icon_account.png) no-repeat 0 0;
        background-size: 200px auto;
    }
}

.icon-qq::after {
    background-position: -50px 0;
}

.icon-weibo::after {
    background-position: -100px 0;
}

.icon-key::after {
    background-position: -150px 0;
}

/* hr
---------------------------------- */
.dm-hr {
    @include hr($bg-color-main);
}

/* account
---------------------------------- */
.account {
    background-color: $bg-color-main;
    padding-bottom: 28px;

    .dm-cells:first-child {
        padding-top: 20px;
    }

    .dm-cell {
        box-sizing: border-box;
        height: 60px;
        padding: 0;
        margin: 0 $gap-large;

        &::after {
            left: 0;
        }

        &:last-child::after {
            @include show;
        }

        &-head {
            @include hide;
        }

        .dm-vcode-btn {
            margin-right: 0;
        }
    }

    .dm-cells-title:first-child {
        color: $text-color-base;
        font-size: 24px;
        font-weight: $font-weight-bold;
        line-height: 32px;
        padding: 8px 0 0;
        margin: 0 $gap-large;
    }

    .dm-cells-title:first-child + .dm-cells-text {
        color: $text-color-base;
        font-size: $font-size-base;
        line-height: 22px;
        padding: 0;
        margin: 8px $gap-large 52px;
    }
}

.bingo {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 0 28px;

    .dm-hr {
        margin: 0 40px;
    }

    .dm-nav {
        @include flex;
        margin-top: 28px;

        &-item {
            @include flex-item;
            color: $text-color-base;
            font-size: $font-size-base;
            line-height: 22px;
            text-align: center;
            padding: 0;

            &.touch {
                background-color: transparent;
                opacity: .5;
            }
        }

        .dm-icon {
            display: block;
            margin: 0 auto 8px;
        }
    }

    @include mq-max-dh(567px) {
        & {
            position: static;
            padding-top: 28px;
        }
    }

    @include mq-ls {
        & {
            position: static;
            padding-top: 28px;
        }
    }
}