@import "base/base";
@import "widget/common";
@import "widget/layout";
@import "widget/status";
@import "widget/cell";
@import "widget/input";
@import "widget/radio";
@import "widget/btn";
@import "widget/vcode";
@import "widget/toptips";
@import "widget/popup";
@import "widget/picker";

/* apply
---------------------------------- */
.apply {
    padding-bottom: 32px;
}