@import "base/base";
@import "widget/common";
@import "widget/layout";
@import "widget/status";
@import "widget/cell";
@import "widget/toptips";
@import "widget/input";
@import "widget/textarea";
@import "widget/picker";
@import "widget/btn";

/* complaint
---------------------------------- */
.complaint {
    padding-bottom: 32px;
}
