@import "base/base";
@import "widget/common";
@import "widget/layout";
@import "widget/status";
@import "widget/column";
@import "widget/cell";
@import "widget/product";

/* address
---------------------------------- */
.address {
    background-color: $bg-color-main;

    .dm-column-head {
        @include hide;
    }

    .product-info {
        @include flex;

        &::after {
            left: 0;
        }
        
    }

    .product-title {
        height: auto;
        margin-right: 0;
    }

    .product-info:visited .product-title {
        color: $text-color-base;
    }

    .product-meta {
        font-size: $font-size-base;
        line-height: 22px;
    }

    .product-meta-item {
        margin-right: 8px;

        &:not(:first-child) {
            @include border(left, $border-color-tiny);
            padding-left: 8px;

            &::after {
                top: 50%;
                height: 10px;
                margin-top: -5px;
            }
        }
    }

    .dm-cell-shape {
        width: 61px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 4px;
        background: #F7F7F7;
        &::before {
            float: left;
            content: "";
            width: 9px;
            height: 9px;
            margin: 1px 0 1px;
            background: url(../imgs/shape_addr.png);
            background-size: cover;
        }
        &-txt{
            float: left;
            display: inline-block;
            font-size: 10px;
            height: 11px;
            line-height: 11px;
            margin-left: 3px;
            color: #808080;
        }
    }
}