@import "base/base";
@import "widget/common";
@import "widget/layout";
@import "widget/status";
@import "widget/cell";

/* feedback-entry
---------------------------------- */
.feedback-entry {
    padding-bottom: 32px;
}