@charset "utf-8";
@import "base/base";
@import "widget/common";
@import "widget/column";
@import "widget/status";
@import "widget/product";

/* css sprite
---------------------------------- */
%sprite-index {
   background: url(../imgs/icon_index.png) no-repeat;
   background-size: 12rem auto;
}

.icon-switch {
   &::after {
       @extend %sprite-index;
       background-position: -2rem 0;
   }
}

.dm-column {
    overflow: hidden;

    &-head {
        position: relative;
        padding: 1.2rem 1.6rem;
        overflow: hidden;
    }

    &-title {
        @include float;

        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.4rem;

        &::before {
            content: "";

            @include float;

            width: 0.4rem;
            height: 1.6rem;
            background-color: $icon-color-base;
            background-clip: padding-box;
            border-radius: 0;
            margin: 0.4rem 1.6rem 0 -1.6rem;
        }
    }

    &-tool {
        @include float(right);

        color: $text-color-tiny;
        font-size: 1.2rem;
        font-weight: $font-weight-base;
        line-height: 2rem;
        padding: 0.2rem 0;
        overflow: hidden;
    }

    &-access {
        @extend %arrow-hollow-tiny;
        padding-right: 1.4rem;
    }
}

/* nav
---------------------------------- */
.dm-selected {
   background-color: $white;
   padding: 0 1.25rem;
   &-list{
       overflow: hidden;
       width: 100%;
       &-item{
           float: left;
           margin-top: 0.2rem;
           box-sizing: border-box;
           padding:0 1.14285714%;
           .bg-image{
               position: relative;
               display: block;
               width: 100%;
               padding-top: 47.604790419%;
               border-radius: 0.4rem;
               background: #cccccc;
               overflow: hidden;
            }
       }
       .txt-content{
           position: absolute;
           -webkit-box-sizing: border-box;
           box-sizing: border-box;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           padding: 3rem 0px;
           display: -webkit-flex;
           display: flex;
           -webkit-align-items: center;
           -webkit-align-items: center;
           align-items: center;
           -webkit-justify-content: center;
           justify-content: center;
           display: none;
           
        }
        .big .txt-content, .middle .txt-content{
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: flex-start;
            align-items: flex-start;
            -webkit-justify-content: space-between;
            justify-content: space-between;
        }
       .big{
           width: 50%;
           .bg-image{
            //    margin-top: 2.39520958%;
               padding-top: 96.40718562874251%;
            //    background: url(../imgs/four/1.png) top center no-repeat;
               background-size: 100% 100%;
           }
       }
       .middle{
           width: 50%;
           .bg-image{
                // margin-top: 2.39520958%;
            //    background: url(../imgs/four/2.png) top center no-repeat;
                background-size: 100% 100%;
           }
       }
       .small{
           width: 24.999%;
           .bg-image{
            //    margin-top: 5.031446540%;+
            //    padding-top: 105.0314465%;
                padding-top: 100%;
            //    background: url(../imgs/four/3.png) top center no-repeat;
                background-size: 100% 100%;
                // &.margin-bottom{
                //     margin-top: 0;
                //     margin-bottom: 5.031446540%;
                // }
           }
       }
   }
}

/* 今日最热
---------------------------------- */
.hottoday {
   margin-top: 1.2rem;
   .dm-column-head{
       background-color: $white;
       .dm-column-title::before{
           display: none;
       }
   }
}
@import "widget/nav";
/* 小编推荐
---------------------------------- */
.dm-recommend-list{
   padding:0 1.6rem;
   padding-bottom: 4.8rem;
   background: $white;
   .dm-list{
       .bg-white-shadow{
           background: $white;
           box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.14);
           -webkit-box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.14);
       }
       .zhiwei-opacity{
           background: url(../imgs/bg_detail_banner.png) no-repeat;
           background-size: cover;
           &::before{
               position: absolute;
               content: "";
               width: 100%;
               height: 100%;
               background: rgba(0, 0, 0, 0.4)
           }
       }
       &-item{
           width: 100%;
           margin-bottom: 1.2rem;
           background-color:#cccccc;
           position: relative;
           &-href{
               display: block;
               color: $white;
               padding: 1.2rem;
               position: relative;
               width: 100%;
               min-height: 12.4rem;
               box-sizing: border-box;
               -webkit-box-sizing: border-box;
               .product-tit {
                   margin-top: 0.4rem;
                   font-size: 1.8rem;
                   line-height: 2.6rem;
                   width: 85%;
                   overflow: hidden;
                   text-overflow: ellipsis;
                   white-space: nowrap;
               }
               .count-down {
                   position: absolute;
                   width: 10.4rem;
                   height: 2rem;
                   top: -0.8rem;
                   right: -0.8rem;
                   left: auto;
                //    background: url(../imgs/down-count.png) top center no-repeat;
                   border-radius: 0.2rem;
                   overflow: hidden;
                //    box-shadow: 0 2px 4px 0 rgba(147,9,135,0.50);
                //    -webkit-box-shadow: 0 2px 4px 0 rgba(147,9,135,0.50);
                   &-box{
                        display: block;
                        height: 1.6rem;
                        width: 100%;
                        transform: skewX(-20deg);
                        -webkit-transform: skewX(-20deg);
                        box-shadow: 0 2px 4px 0 rgba(147,9,135,0.30);
                        -webkit-box-shadow: 0 2px 4px 0 rgba(147,9,135,0.30);
                        background-image: linear-gradient(89deg, #8C2DFF 0%, #F04EF4 99%);
                        background-image: -webkit-linear-gradient(89deg, #8C2DFF 0%, #F04EF4 99%);
                        position: absolute;
                        left: 0.4rem;
                        border-radius: 0.2rem;
                        &-skew{
                            transform: skewX(20deg);
                            overflow: hidden;
                        }
                   }
                   &-bg{
                       float: right;
                       width: 2.3rem;
                       height: 1rem;
                       margin-top: 0.25rem;
                       background: url(../imgs/count-down-bg.png);
                       background-size: cover;
                   }
                   &-list {
                       float: right;
                       margin:0.2rem 0.8rem 0.2rem 0;
                       overflow: hidden;
                       &-item {
                           float: left;
                           height: 1.2rem;
                           line-height: 1.2rem;
                           border-radius: 0.2rem;
                           background: $white;
                           margin: 0 0.2rem 0;
                           padding: 0 0.15rem;
                           font-size: 1.2rem;
                           color: #AF39FB;
                       }
                       .dot{
                           float: left;
                           height: 1.2rem;
                           font-size: 1.2rem;
                           margin-top: -0.2rem;
                       }
                   }
               }
               .tag_chaojianzhi{
                   background: url(../imgs/tag_cjz.png) top right no-repeat;
               }
               .tag_datifenqian{
                   background: url(../imgs/tag_datfq.png) top right no-repeat;
               }
               .tag_guandianbianxian{
                   background: url(../imgs/tag_gdbx.png) top right no-repeat;
               }
               .tag_doumixuetang{
                   background: url(../imgs/tag_dmxt.png) top right no-repeat;
               }
               .tag_gaoxingquanzhi{
                   background: url(../imgs/tag_gxqz.png) top right no-repeat;
               }
               .tag_taobaoke{
                   background: url(../imgs/tag_tbk.png) top right no-repeat;
               }
               .tag_zaixianzhonbao{
                   background: url(../imgs/tag_zxzb.png) top right no-repeat;
               }
               .tag_biaoqian{
                   position: absolute;
                   top: 1.5rem;
                   right: 0;
                   width: 6.4rem;
                   height: 1.6rem;
                   background-size: auto 1.6rem;
                   .tag-image {
                       height: 1.6rem;
                       width: auto;
                   }
               }
               .des-txt{
                   margin-top: 0.4rem;
                   font-size: 1.4rem;
                   line-height: 2rem;
               }
               .btn_apply{
                   display: inline-block;
                   width: 7rem;
                   height: 2.2rem;
                   line-height: 2.2rem;
                   font-size: 1.4rem;
                   text-align: center;
                   background: none;
                   @include border(all, #ffffff);
                   margin-top: 2.4rem;
               }
               .apply-wrap{
                   position: absolute;
                   width: 5.2rem;
                   height: 3.6rem;
                   right: 1.2rem;
                   bottom: 1.2rem;
                   color: $white;
                   background-color: rgba($color: $black, $alpha: 0.3);
                   .apy{
                       display: block;
                       font-size: 1rem;
                       line-height: 1.4rem;
                       margin-top: 0.2rem;
                       text-align: center;
                   }
                   .apply-count {
                       font-size: 1.4rem;
                       margin-top: 0rem;
                       line-height: 2rem;
                   }
               }
               /* 答题分钱 观点变现
---------------------------------- */
               .datifenqian {
                   width: 100%;
                   text-align: center;
                   color: $black-dim;
               }
               .dm-nav-list{
                   margin-top: 1.2rem;
               }
               .tabs-dati{
                   height: 2.8rem;
                   color: $black-dim;
                   font-size: 1.4rem;
                   line-height: 2.8rem;
                   text-align: center;
                   position: relative;
                   &.touch{
                      background: #ededed!important;
                   }
               }
               .tabs-dati:nth-child(2)::before, .tabs-dati:nth-child(3)::before {
                   position: absolute;
                   content: "";
                   width: 0.4rem;
                   height: 100%;
                   background: $white;
                   transform: skewX(-11deg);
                   -webkit-transform: skewX(-11deg);
                   left: -0.2rem;
               }
               .tabs-dati:nth-child(1) {
                   border-radius: 1.4rem 0 0 1.4rem;
                   background: linear-gradient(75deg, #FEE72A 0%, #FFC829 100%);
                   background: -webkit-linear-gradient(75deg, #FEE72A 0%, #FFC829 100%);
               }
               .tabs-dati:nth-child(2) {
                   background:linear-gradient(-129deg, #FEE72A 0%, #FFC829 100%);
                   background: -webkit-linear-gradient(-129deg, #FEE72A 0%, #FFC829 100%);
               }
               .tabs-dati:nth-child(3) {
                   border-radius: 0 1.4rem 1.4rem 0;
                   background: linear-gradient(-239deg, #FEE72A 0%, #FFC829 100%);
                   background: -webkit-linear-gradient(-239deg, #FEE72A 0%, #FFC829 100%);
               }

               .dm-bianxian-list{
                   margin-top: 0.4rem;
                   @include flex;
                   @include flex-align(center);
                   &::after {
                       @include hide;
                   }
                   overflow: hidden;
                   &-item:nth-child(1){
                       background: url(../imgs/yellow_face.png) no-repeat;
                       &.touch{
                           background: url(../imgs/yellow_face_gray.png) no-repeat;
                       }
                   }
                   &-item:nth-child(3){
                       background: url(../imgs/cyan_face.png) no-repeat;
                       &.touch{
                           background: url(../imgs/cyan_face_gray.png) no-repeat;
                       }
                   }
                   &-item:nth-child(1), &-item:nth-child(3){
                       width: 4.2rem;
                       height: 4.2rem;
                       background-size: cover;
                       &.touch{
                           background-size: cover;
                       }
                   }
                   &-item:nth-child(2){
                       @include flex-item;
                       overflow: hidden;
                       .answer{
                           overflow: hidden;
                           padding: 0px 1rem;
                           &-item{
                               width: 50%;
                               float: left;
                               &-txt{
                                   float: left;
                                   width: 100%;
                                   color: $black-dim;
                                   font-size: 1.4rem;
                                   line-height: 2.2rem;
                                   box-sizing: border-box;
                                   box-sizing: border-box;
                                   padding: 0.2rem 3.720930233% 0.2rem 3.720930233%;
                               }
                               &-prog{
                                   float: left;
                                   width: 100%;
                                   height: 0.8rem;
                                   background: url(../imgs/progress_left.png) no-repeat;
                                   background-size: 100% 100%;
                                //    background: linear-gradient(90deg, #FEEB00 0%, #FFD630 100%);
                                //    background: -webkit-linear-gradient(90deg, #FEEB00 0%, #FFD630 100%);
                                   border-radius: 0.4rem 0 0 0.4rem;
                                   margin-left: 3.720930233%;
                                   overflow: hidden;
                               }
                               .touch{
                                    background: url(../imgs/progress_left_gray.png) no-repeat;
                                    background-size: 100% 100%;
                               }
                           }
                           &-item:nth-child(2){
                               .answer-item-txt{
                                   text-align: right;
                               }
                               .answer-item-prog{
                                //    background: linear-gradient(-90deg, #00FAC1 0%, #2DCDE3 100%);
                                //    background: -webkit-linear-gradient(-90deg, #00FAC1 0%, #2DCDE3 100%);
                                   background: url(../imgs/progress_right.png) no-repeat;
                                   background-size: 100% 100%;
                                   margin-left: -3.720930233%;
                                   border-radius: 0 0.4rem 0.4rem 0;
                               }
                               .touch{
                                    background: url(../imgs/grogress_right_gray.png) no-repeat;
                                    background-size: 100% 100%;
                                }
                           }
                       }
                   }
               }
               .dm-guess{
                   margin-top: 0.8rem;
                   text-align: center;
                   &-guandian{
                       margin-top: 0.2rem;
                   }
                   &-item{
                       display: inline-block;
                       padding: 0 0.4rem;
                       line-height: 2rem;
                       color: #B3B3B3;
                       font-size: 1.2rem;
                   }
               }
           }
       }
       /* 广告运营位推广
---------------------------------- */
       .banner-adv{
           background: url(../imgs/bg_detail_banner.png) no-repeat;
           background-size: cover;
           min-height: 12.4rem;
       }
   }
}

/* youxuan
---------------------------------- */
.youxuan {
   overflow: hidden;
   background-color: $bg-color-main;

   // .dm-nav + & ,
   // .card + & {
   //     margin-top: -16px;
   // }

   .dm-column-title {
       &::before {
           @include hide;
       }
   }

   .dm-column-tool {
       color: $text-color-base;
       font-size: 1.4rem;
       overflow: hidden;

       .dm-icon {
           vertical-align: top;
           margin-right: 0.1rem;
       }

       &.touch {
           opacity: .5;
       }
   }

   .product-info {
       box-sizing: border-box;
       border-radius: $border-radius-base;
       padding: 0.6rem 1.2rem;
       margin-bottom: 1rem;
       overflow: visible;

       &::after {
           content: "";
           position: absolute;
           top: 100%;
           left: 0;
           width: 100%;
           height: 1rem;
           background: url(../imgs/bg_index_column.png) no-repeat center top;
           background-size: 100% auto;
       }

       &.touch {
           opacity: .5;
       }
   }

   .product-image {
       @include show;
       position: absolute;
       right: 0;
       bottom: 0;
       margin: 0;

       img {
           width: 4.2rem;
           height: 7.5rem;
           max-width: 4.2rem;
           max-height: 7.5rem;
           border-radius: 0;
       }
   }

   .product-content {
       position: relative;
   }

   .product-title {
       font-size: 1.4rem;
       font-weight: $font-weight-base;
       line-height: 2.2rem;
       @extend %text-overflow;
       margin-top: 0.2rem;
       margin-right: 0;
   }

   .product-label {
       color: $text-color-base;
       font-size: 1rem;
       line-height: 1.8rem;
       @extend %text-overflow;
       margin-top: 0;
   }

   .product-price {
       position: static;
       font-size: 1rem;
       line-height: 2rem;
       margin-top: 0.2rem;

       b {
           position: relative;
           top: 0.1rem;
           margin-right: 0.4rem;
       }
   }

   .dm-list {
       font-size: 0;
       margin: 0 0.4rem 0.4rem 1.6rem;
       overflow: hidden;

       &-item {
           display: inline-block;
           box-sizing: border-box;
           width: 50%;
           vertical-align: top;
           padding-right: 1.2rem;
           padding-bottom: 0.2rem;
       }
   }
}

.touchs{
    opacity: .5;
}