@import "base/base";
@import "widget/common";
@import "widget/layout";
@import "widget/column";
@import "widget/status";
@import "widget/slider";
@import "widget/icon";
@import "widget/product";
@import "widget/toptips";

/* css sprite
---------------------------------- */
%sprite-index {
    background: url(../imgs/icon_index.png) no-repeat;
    background-size: 120px auto;
}

.icon-switch {
    &::after {
        @extend %sprite-index;
        background-position: -20px 0;
    }
}

/* nav
---------------------------------- */
.dm-nav {
    background-color: $white;
    padding: 0 12.5px;
    &-list{
        overflow: hidden;
        width: 100%;
        &-item{
            float: left;
            box-sizing: border-box;
            margin-top: 3.5px;
            .bg-image{
                display: block;
                width: 100%;
                padding-top: 50%;
                border-radius: $border-radius-base;
                background: red;
            }
        }
        .big{
            width: 50%;
            padding:0 3.5px;
            .bg-image{
                padding-top: 100%;
            }
        }
        .middle{
            width: 50%;
            padding:0 3.5px;
        }
        .small{
            width: 25%;
            padding:0 3.5px;
            .bg-image{
                padding-top: 100%;
            }
        }
    }
}

/* 小编推荐
---------------------------------- */
.hottoday {
    margin-top: $gap-base;
    .dm-column-head{
        background-color: $white;
        .dm-column-title::before{
            display: none;
        }
    }
}
.recommend-list{
    padding:0 16px;
    background: $white;
    .item{
        width: 100%;
        &-href{
            display: block;
            background-color:#cccccc;
            color: $white;
            padding: 12px;
            position: relative;
            .product-tit, .count-down, .tag, .des-txt, .btn, .apply-wrap{
            }
            .product-tit {
                margin-top: 4px;
                font-size: 18px;
                line-height: 26px;
                width: 70%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .count-down {
                position: absolute;
                width: 104px;
                height: 20px;
                top: -8px;
                right: -8px;
                left: auto;
                background: url(../imgs/down-count.png) no-repeat;
                background-size: 106px auto;
                .time{
                    display: inline-block;
                    vertical-align: top;
                    font-size: 12px;
                    color: #AF39FB;
                    line-height: 16px;
                }
            }
            .tag_chaojianzhi{
                background: url(../imgs/tag_cjz.png) top right no-repeat;
            }
            .tag_datifenqian{
                background: url(../imgs/tag_datfq.png) top right no-repeat;
            }
            .tag_guandianbianxian{
                background: url(../imgs/tag_gdbx.png) top right no-repeat;
            }
            .tag_doumixuetang{
                background: url(../imgs/tag_dmxt.png) top right no-repeat;
            }
            .tag_gaoxingquanzhi{
                background: url(../imgs/tag_gxqz.png) top right no-repeat;
            }
            .tag_taobaoke{
                background: url(../imgs/tag_tbk.png) top right no-repeat;
            }
            .tag_zaixianzhonbao{
                background: url(../imgs/tag_zxzb.png) top right no-repeat;
            }
            .tag_biaoqian{
                position: absolute;
                top: 15px;
                right: 0;
                width: 64px;
                height: 16px;
                background-size: auto 16px;
            }
            .des-txt{
                margin-top: 4px;
                font-size: $font-size-base;
                line-height: 20px;
            }
            .btn_apply{
                display: inline-block;
                width: 70px;
                height: 22px;
                line-height: 22px;
                font-size: $font-size-base;
                text-align: center;
                background: none;
                @include border(all, #ffffff);
                margin-top: 24px;
            }
            .apply-wrap{
                position: absolute;
                width: 52px;
                height: 36px;
                right: 12px;
                bottom: 12px;
                color: $white;
                background-color: rgba($color: $black, $alpha: 0.3);
                .apy{
                    display: block;
                    font-size: 10px;
                    line-height: 14px;
                    margin-top: 2px;
                    text-align: center;
                }
                .apply-count{
                    font-size: $font-size-base;
                    margin-top: 0px;
                    line-height: 20px;
                }
            }
        }
    }
}

/* card
---------------------------------- */
.card {
    background-color: $bg-color-main;

    .dm-column-head {
        @include hide;
    }

    .dm-list {
        @include flex;
        @include flex-justify(between);
        padding: 0 14px 16px;
        overflow: hidden;

        &-item {
            @include flex-item(0);
            margin: 0 2px;
        }
    }

    .product-info {
        padding: 0;

        &.touch {
            opacity: .5;
        }
    }

    .product-image {
        @include show;
        margin: 0;

        img {
            width: 80px;
			height: 62px;
			max-width: 80px;
			max-height: 62px;
            border-radius: 0;
        }

        @include mq-max-dw(374px) {
		  	img {
		    	width: 68px;
		    	height: 52px;
		    	max-width: 68px;
		    	max-height: 52px;
		    }
		}
    }

    .product-title {
        @include hide;
        @extend %text-overflow;
        margin-right: 4px;
    }

    .product-ds {
        @include hide;
        color: $text-color-base;
        font-size: $font-size-small;
        line-height: 20px;
        @extend %text-overflow;
        margin-right: 4px;
    }
}

/* youxuan
---------------------------------- */
.youxuan {
    overflow: hidden;
    background-color: $bg-color-main;

    // .dm-nav + & ,
    // .card + & {
    //     margin-top: -16px;
    // }

    .dm-column-title {
        &::before {
            @include hide;
        }
    }

    .dm-column-tool {
        color: $text-color-base;
        font-size: $font-size-base;
        overflow: hidden;

        .dm-icon {
            vertical-align: top;
            margin-right: 1px;
        }

        &.touch {
            opacity: .5;
        }
    }

    .product-info {
        box-sizing: border-box;
        border-radius: $border-radius-base;
        padding: 6px $gap-base;
        margin-bottom: 10px;
        overflow: visible;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 10px;
            background: url(../imgs/bg_index_column.png) no-repeat center top;
            background-size: 100% auto;
        }

        &.touch {
            opacity: .5;
        }
    }

    .product-image {
        @include show;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;

        img {
            width: 42px;
            height: 75px;
            max-width: 42px;
            max-height: 75px;
            border-radius: 0;
        }
    }

    .product-content {
        position: relative;
    }

    .product-title {
        font-size: $font-size-base;
        font-weight: $font-weight-base;
        line-height: 22px;
        @extend %text-overflow;
        margin-top: 2px;
        margin-right: 0;
    }

    .product-label {
        color: $text-color-base;
        font-size: $font-size-smaller;
        line-height: 18px;
        @extend %text-overflow;
        margin-top: 0;
    }

    .product-price {
        position: static;
        font-size: $font-size-small;
        line-height: 20px;
        margin-top: 2px;

        b {
            position: relative;
            top: 1px;
            margin-right: 4px;
        }
    }

    .dm-list {
        font-size: 0;
        margin: 0 4px 4px $gap-main;
        overflow: hidden;

        &-item {
            display: inline-block;
            box-sizing: border-box;
            width: 50%;
            vertical-align: top;
            padding-right: $gap-base;
            padding-bottom: 2px;
        }
    }
}