@import "base/base";
@import "widget/common";
@import "widget/layout";
@import "widget/status";
@import "widget/slider";
@import "widget/column";
@import "widget/icon";
@import "widget/btn";

/* css sprite
---------------------------------- */
%sprite-taobaoke {
    background: url(../imgs/icon_taobaoke.png) no-repeat;
    background-size: 120px auto;
}

/* icon
---------------------------------- */
.dm-icon {
    &::after {
        @extend %sprite-taobaoke;
    }
}

.icon-coupon {
    &::after {
        background-position: 0 0;
    }
}

.icon-income {
    &::after {
        background-position: -20px 0;
    }
}

.icon-cart {
    &::after {
        background-position: -40px 0;
    }
}

.icon-label {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: auto;
    min-width: 30px;
    height: 16px;
    border-radius: 16px;
    color: transparent;
    font-size: $font-size-smaller;
    line-height: 10px;
    white-space: nowrap;
    padding: 3px 6px;
    overflow: hidden;

    &::after {
        content: attr(title);
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        box-sizing: border-box;
        background-color: transparent;
        background-image: none;
        border: 1px solid $red;
        border-radius: 32px;
        color: $red;
        font-size: $font-size-smaller * 2;
        line-height: 20px;
        text-align: center;
        padding: 5px 11px;
        @include css3(transform-origin, (0 0));
        @include css3(transform, (scale(.5)));
    }
}

/* tag
---------------------------------- */
.tag-coupon {
    display: inline-block;
    height: 13px;
    color: $red;
    vertical-align: middle;
    overflow: hidden;

    &::before {
        content: "åˆ¸";
        @include float;
        box-sizing: border-box;
        width: 34px;
        height: 26px;
        @extend %sprite-taobaoke;
        background-position: -120px 0;
        background-size: 240px auto;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        @include css3(transform-origin, (0 0));
        @include css3(transform, scale(.5));
        margin-right: -17px;
    }

    b {
        @include float;
        box-sizing: border-box;
        width: 60px;
        height: 26px;
        @extend %sprite-taobaoke;
        background-position: right 0;
        background-size: 240px auto;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        white-space: nowrap;
        padding-right: 6px;
        margin-right: -30px;
        @include css3(transform-origin, (0 0));
        @include css3(transform, scale(.5));
    }
}

/* header
---------------------------------- */
.dm-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-index-highest;
    width: 44px;
    background-color: transparent;

    &::after {
        @include hide;
    }

    .dm-header-back {
        top: 8px;
        left: 8px;
        width: 24px;
        height: 24px;
        background-color: rgba(0, 0, 0, .1);
        border-radius: $border-radius-base;
        padding: 0;

        &::before {
            top: 50%;
            left: 50%;
            width: 20px;
            height: 20px;
            @extend %sprite-taobaoke;
            background-position: -40px -20px;
            border: 0 none;
            margin: -10px 0 0 -10px;
            @include css3(transform, rotate(0deg));
        }
    }
}

/* slider
---------------------------------- */
.dm-slider {
    background-color: $bg-color-main;

    &-list-item {
        padding: 0;
    }

    &-num {
        right: $gap-main;
        bottom: $gap-main / 2;
        background-color: rgba($black, .2);
        border-radius: 24px;
        padding: 2px 10px;
    }

    img {
        border-radius: 0;
    }
}

/* footbar
---------------------------------- */
.dm-footbar {
    .dm-btn {
        border-radius: 0;

        &-large {
            height: 50px;
            line-height: 50px;
        }
    }
}

/* product-detail
---------------------------------- */
.product-detail {
    @include border(bottom);

    .product-info {
        position: relative;
        background-color: $bg-color-main;
        padding: $gap-base $gap-main;
    }

    .product-title {
        font-size: $font-size-large;
        font-weight: $font-weight-base;
        line-height: 24px;
        @include text-break;
    }

    .product-price {
        color:  $red;
        font-size: 20px;
        font-weight: $font-weight-bold;
        line-height: 28px;
        margin-top: 10px;
        overflow: hidden;

        b {
            @include float;
            margin-right: 6px;
        }

        .icon-label {
            @include float;
            margin-top: 6px;
        }
    }

    .product-meta {
        color: $text-color-assist;
        font-size: $font-size-small;
        line-height: 20px;
        margin-top: 4px;
        overflow: hidden;

        .sale {
            text-decoration: line-through;
        }
    }

    .product-status {
        position: absolute;
        right: $gap-main;
        bottom: $gap-base;
        color: $text-color-assist;
        font-size: $font-size-small;
        line-height: 20px;
        overflow: hidden;

        .sale {
            text-decoration: line-through;
        }
    }

    .product-topic {
        background-color: #fbfbfb;
        padding: $gap-base $gap-main;
        overflow: hidden;

        &-item {
            color: $text-color-base;
            font-size: $font-size-small;
            line-height: 20px;
            overflow: hidden;

            &:not(:first-child) {
                margin-top: 4px;
            }

            b {
                color: $red;
            }

            .dm-icon {
                @include float;
                margin-right: 4px;
            }
        }
    }
}

/* recommend
---------------------------------- */
.recommend {
    margin-top: $gap-base;

    .dm-column-head {
        background-color: $bg-color-main;
        padding-top: 20px;
    }

    .dm-column-title::before {
        @include hide;
    }

    .dm-column-title::after {
        content: "";
        display: block;
        width: 27px;
        height: 3px;
        background-color: #f5f5f5;
        margin: 12px 0 0;
    }

    .dm-list {
        background-color: $bg-color-main;
        margin-top: -$gap-base;
    }

    .dm-list-item {
        &:not(:last-child) {
            @include border(bottom);
        }
    }

    .product-info {
        @include flex;
        @include flex-align(start);
        padding: $gap-base $gap-main;
        overflow: hidden;
    }

    .product-image {
        margin-right: $gap-base;
        overflow: hidden;

        img {
            display: block;
            width: 84px;
            height: 84px;
            max-width: 84px;
            max-height: 84px;
            overflow: hidden;
        }
    }

    .touch .product-image {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .04);
        }
    }

    .product-content {
        @include flex-item;
        position: relative;
        min-height: 62px;
        overflow: hidden;
    }

    .product-title {
        height: 44px;
        font-size: $font-size-base;
        font-weight: $font-weight-base;
        line-height: 22px;
        margin-right: 72px;
        @include text-clamp(2);
    }

    .product-meta {
        color: $text-color-assist;
        font-size: $font-size-small;
        line-height: 20px;
        margin-right: 72px;
        overflow: hidden;

        b {
            color: $red;
        }

        .sale {
            text-decoration: line-through;
        }

        .tag-coupon {
            position: relative;
            top: 3px;
            vertical-align: top;
            margin-left: 4px;
        }
    }

    .product-title + .product-meta {
        margin-top: 2px;
    }

    .product-opt {
        @include border(all, $border-color-tiny);
        @include border-radius;
        position: absolute;
        top: 21px;
        right: 0;
        box-sizing: border-box;
        width: 52px;
        height: 24px;
        color: $text-color-base;
        font-size: $font-size-small;
        line-height: 24px;
        text-align: center;
    }

    .product-price {
        position: absolute;
        top: 49px;
        right: 0;
        color: $red;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        line-height: 20px;

        b {
            display: inline-block;
            font-size: $font-size-base;
            font-weight: $font-weight-bold;
            margin: 0 2px;
            @include css3(transform, translateY(.5px));
        }
    }
}