@import "base/base";
@import "widget/common";
@import "widget/layout";
@import "widget/status";
@import "widget/column";
@import "widget/tab";

/* record
---------------------------------- */
.record {
    margin-top: $gap-base;

    .dm-column-head {
        @include hide;
    }

    .dm-list-item {
        @include border(bottom);

        &:last-child {
            &::after {
                @include hide;
            }
        }
    }

    .product-info {
        @include flex;
        background-color: $bg-color-main;
        padding: $gap-base;
    }

    .product-content {
        @include flex-item;
        position: relative;
        box-sizing: border-box;
        max-width: 100%;
        overflow: hidden;
    }

    .product-aside {
        @include flex-item(0);
        text-align: right;
        margin-left: $gap-base;
    }

    .product-title {
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        line-height: 24px;
        @extend %text-overflow;
    }

    .product-meta {
        color: $text-color-assist;
        font-size: $font-size-base;
        line-height: 22px;
        @extend %text-break;
        margin-top: 6px;
    }

    .product-desc {
        color: $text-color-assist;
        font-size: $font-size-small;
        line-height: 20px;
        @extend %text-break;
        margin-top: 4px;
    }

    .product-price {
        line-height: 22px;

        b {
            display: inline-block;
            font-size: 22px;
            font-weight: $font-weight-base;
            line-height: 30px;
            vertical-align: baseline;
        }
    }

    .product-status {
        color: $text-color-assist;
        font-size: $font-size-small;
        line-height: 20px;
        @extend %text-break;

        &-warn {
            color: $text-color-warn;
        }
    }

    .product-aside .product-meta {
        margin-top: 1px;
    }
}