@import "base/base";
@import "widget/common";
@import "widget/layout";
@import "widget/cell";
@import "widget/status";
@import "widget/icon";
@import "widget/btn";

/* css sprite
---------------------------------- */
%sprite-wallet {
    background: url(../imgs/icon_wallet.png) no-repeat;
    background-size: 80px auto;
}

/* icon
---------------------------------- */
.icon-wechat,
.icon-alipay,
.icon-bank {
    width: 40px;
    height: 40px;

    &::after {
        width: 40px;
        height: 40px;
        @extend %sprite-wallet;
    }
}

.icon-wechat {
    &::after {
        background-position: 0 -48px;
    }
}

.icon-alipay {
    &::after {
        background-position: -40px -48px;
    }
}

.icon-bank {
    &::after {
        background-position: 0 -88px;
    }
}

.icon-succeed-lg {
    width: 294px;
    height: 100px;
    &::after {
        width: 294px;
        height: 100px;
        background: url(../imgs/icon_succeed.png) 0 0;
        background-size: 294px auto;
    }
}

/* deliver
---------------------------------- */
.dm-deliver {
    @include border(bottom);
    background-color: $bg-color-main;
    padding: $gap-large / 2 0 24px;

    &-title {
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        line-height: 24px;
        text-align: center;
        @extend %text-break;

        .dm-icon {
            display: block;
            margin: 0 auto $gap-main;
        }
    }

    &-desc {
        color: $text-color-assist;
        font-size: $font-size-base;
        line-height: 22px;
        text-align: center;
        @extend %text-break;
        margin: $gap-base $gap-main 0;
    }
}

/* cell
---------------------------------- */
.dm-cell {
    .dm-cell {
        padding: 4px 0;
    }
}

/* account
---------------------------------- */
.account {
    .product-title {
        font-size: $font-size-base;
        font-weight: $font-weight-base;
        line-height: 22px;
        @extend %text-overflow;
    }

    .product-desc {
        color: $text-color-assist;
        font-size: $font-size-small;
        line-height: 20px;
        @extend %text-overflow;
    }

    .dm-icon {
        margin-right: $gap-base;
    }
}
